<!doctype html>
<html lang="de">

<head>
    {% load static %}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Honorardar">
    <meta name="author" content="Michel Penke und Haluka Maier-Borst">
    <meta name="date" content="2017-11-18">
    <meta name="robots" content="index,follow">

	<!-- Flavicon -->
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

	<link rel="shortcut icon" href="../templates/honoradar/favicon.png">
	<link rel="icon" type="image/png" href="../templates/honoradar/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../templates/honoradar/favicon.png" sizes="96x96">
	<link rel="apple-touch-icon" sizes="180x180" href="../templates/honoradar/favicon_apple_touch.png">
	<meta name="msapplication-TileImage" content="../templates/honoradar/favicon_msapplication.png">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'honoradar/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/css/style-elements.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/css/font.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/navbar/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/navbar/css/style.css'%}">


    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Was verdienen Journalisten?">
    <meta name="twitter:description" content="Hier erfährst du, welche Medien wie viel zahlen.">
    <meta name="twitter:url" content="https://wwww.wasjournalistenverdienen.de">
    <meta name="twitter:image" content="https://wwww.wasjournalistenverdienen.de/static/honoradar/image/cover_social.png">

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:locale" content="de_DE">
    <meta property="og:title" content="Was verdienen Journalisten?">
    <meta property="og:description" content="Hier erfährst du, welche Medien wie viel zahlen.">
    <meta property="og:url" content="https://wwww.wasjournalistenverdienen.de">
    <meta property="og:image" content="https://wwww.wasjournalistenverdienen.de/static/honoradar/image/cover_social.png">

    <!-- General SEO -->
    <meta name="author" content="Michel Penke und Haluka Maier-Borst">
    <meta name="title" content="Was verdienen Journalisten?">
    <meta name="description" content="Hier erfährst du, welche Medien wie viel zahlen.">
    <meta name="keywords" content="was,journalisten,verdienen,gehalt,honorar,pauschale,einkommen,euro,job,redakteur,angebot,verhandeln">

</head>

<body>
    <title>Was verdienen Journalisten?</title>

    <!-- Parallax -->
    <div class="panel">
        <h1 class="head-title">Was verdienen Journalisten?</h1>
        <h2 class="head-subtitle-1">Die Antwort gibt's hier: Erfahre kostenlos, was Kollegen verdienen – oder trage selbst anonym deine Daten ein.</h2>
        <h2 class="head-subtitle-2">Bisher legten Journalisten {% if entriesno %}{{ entriesno }} {% endif %} Gehälter und Honorare bei {% if mediumno %}{{ mediumno }} {% endif %} Medien offen.</h2>

        <a href="#banderole" id="machmit" class="smooth clear-absolute"><h3 class="head-action">Mach mit!</h3></a>
        <div class="head-box-1"></div>
        <div class="head-box-2"></div>
        <div class="head-box-0"></div>
    </div>

    <!-- Navbar -->
    <a href="#cd-nav" class="cd-nav-trigger clear-fixed">Menu
		<span class="cd-nav-icon"></span>
		<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
		<circle fill="transparent" stroke="#2ecc71" stroke-width="2" cx="24" cy="24" r="24" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
	</a>

    <div id="cd-nav" class="cd-nav">
        <div class="cd-navigation-wrapper">
            <div class="cd-half-block">
                <h2 class="navtitle1">Navigation</h2>
                <nav>
                    <ul class="cd-primary-nav">
                        <li><a href="{% static "../../../"%}" class="selected">Startseite</a></li>
                        <li><a href="{% static "/honoradar/artikel/projekt.html"%}">Über das Projekt</a></li>
                        <li><a href="{% static "/honoradar/artikel/reports.html"%}">Freischreiber-Report</a></li>
                        <li><a href="{% static "/honoradar/artikel/newsletter.html"%}">Newsletter</a></li>
                        <li><a href="{% static "/honoradar/artikel/impressum.html"%}">Impressum</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cd-half-block">
                <address>
	<ul class="cd-contact-info">
	<h2 class="navtitle2">Kontakt</h2>
	<li><a href="mailto:kontakt@freischreiber.de" class="clear-navi">kontakt@freischreiber.de</a></li>
	<li><a href="tel:04022867152" class="clear-navi">040 – 22 86 71 52</a></li>
	<li><a href="//maps.google.com/maps?q=Hoheluftchaussee+53A,+20253+Hamburg/" class="clear-navi" data-lity>
		<span>Büro Freischreiber e.V.</span>
		<span>Hoheluftchaussee 53a</span>
		<span>20253 Hamburg 24</span>
	</a></li>
	</ul>
	</address>
            </div>
        </div>
    </div>

    <!-- Main -->
    <main id="main">
        <!-- Banderole -->
        <div class="banderole" id="banderole"></div>

        <!-- Safe-Points -->
        <div class="safe-box">
            <a href="{% static "/honoradar/artikel/prinzipien.html"%}#anonym">
                <div class="safe safe-1 safetile"></div>
            </a>
            <a href="{% static "/honoradar/artikel/prinzipien.html"%}#verschluesselt">
                <div class="safe safe-2 safetile"></div>
            </a>
                <div class="safe safe-3 safetile-gross"></div>
            <a href="{% static "/honoradar/artikel/prinzipien.html"%}#transparent">
                <div class="safe safe-4 safetile"></div>
            </a>
            <a href="{% static "/honoradar/artikel/prinzipien.html"%}#kostenlos">
                <div class="safe safe-5 safetile"></div>
            </a>
        </div>

        <!-- Input-Input-Box -->
        <div class="giv-get" id="giv-get">
            <div class="giv">

                <form action="{% url 'honoradar:senddata' %}" method="post" data-url="{% url 'honoradar:senddata' %}" name="firstbox" id="giv-form">
                    {% csrf_token %}

                    <div class="banner-left-1 show" id="banner-left-1">Erzähle, was du verdienst!</div>
                    <div class="banner-left-3 hide" id="banner-left-4">Vielen Dank!</div>
                    <div class="banner-left-shadow"></div>
                    <div id="banner-left-triangle" class="banner-left-shadow hide"></div>
                    <div class="break"></div>

                    <!-- Medium-Select -->
                    <div class="media-select-container">
                        <input name="MediumName" id="data_medium" class="media-select select-font dropdown" list="medium" placeholder="Für welches Medium arbeitest du?" type="text" onclick="alertoffdatamedium()" />

                    </div>
                    <!-- Support Safari? https://stackoverflow.com/questions/27494084/html5-datalist-tag-is-not-populating-in-safari?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa -->

                    <!-- Switch-Select -->
                    <div class="switch-field switch-field-text switch-field-text-1 tooltip show" id="data_arbeitsverhaeltnis">
                        <input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_frei" name="switch" value="frei" onclick="freifunction()" />
                        <label for="data_arbeitsverhaeltnis_frei">Frei</label>
                        <input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_pauschal" name="switch" value="pauschal" onclick="pauschalfunction()" />
                        <label for="data_arbeitsverhaeltnis_pauschal">Pauschal</label>
                        <input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_fest" name="switch" value="fest" onclick="festfunction()" />
                        <label for="data_arbeitsverhaeltnis_fest">Fest</label>
                    </div>

                    <div class="break"></div>

                    <!-- Loan-Select -->
                    <input name="SalaryPerMonthEmpMix" id="data_gehalt" class="loan-select select-font hide" list="gehalt" placeholder="Gehalt pro Monat? (Brutto)" type="number" min="0" oninput="validity.valid||(value='');" inputmode="numeric" onclick="alertoffdatasalary()" />

                    <!-- Hour-Week-Select -->
                    <div class="day-month-select hide" id="pre-data_stunden_woche">
                        <style id="style-hour-week" scoped></style>
                        <input id="data_stunden_woche" name="HoursPerWeekEmp" class="hour-week-bar" type="range" min="1" max="80" value="0" onmousedown="alertoffdatahourweek()" ontouchstart="alertoffdatahourweek()" />
                        <p id="outputhourweek" class="output">0</p>
                    </div>
                    <div class="break hide" id="break-1"></div>

                    <!-- Day-Month-Select -->
                    <div class="day-month-select hide" id="pre-data_tag_monat">
                        <style id="style-day-month" scoped></style>
                        <input name="DaysPerMonthMix" id="data_tag_monat" class="day-month-bar" type="range" min="0" max="31" value="0" onmousedown="alertoffdatadaymonth()" ontouchstart="alertoffdatadaymonth()" />
                        <p id="outputdaymonth" class="output">0</p>
                    </div>

                    <!-- Hour-Day-Select -->
                    <div class="hour-day-select hide" id="pre-data_stunden_tag">
                        <style id="style-hour-day" scoped></style>
                        <input name="HoursPerDayMix" id="data_stunden_tag" class="hour-day-bar" type="range" min="0" max="24" value="0" onmousedown="alertoffdatahourday()" ontouchstart="alertoffdatahourday()" />
                        <p id="outputhourday" class="output">0</p>
                    </div>

                    <!-- Freelancer-fee-Select -->
                    <input name="FeeFree" id="data_honorar" class="loan-select select-font hide" list="gehalt" placeholder="Lohn für den Auftrag? (Brutto)" type="number" min="0" oninput="validity.valid||(value='');" inputmode="numeric" onclick="alertoffdataloan()" />

                    <!-- Unit-Select -->
                    <div class="hide" id="pre-data_format_text_audio_video">
                        <div id="data_format_text_audio_video" class="switch-field switch-field-text switch-field-text-2 tooltip">
                            <input type="radio" id="data_format_text" name="VideoAudioTextFree" value="text" onclick="textfunction()" />
                            <label for="data_format_text">Text</label>
                            <input type="radio" id="data_format_audio" name="VideoAudioTextFree" value="audio" onclick="audiofunction()" />
                            <label for="data_format_audio">Audio</label>
                            <input type="radio" id="data_format_video" name="VideoAudioTextFree" value="video" onclick="videofunction()" />
                            <label for="data_format_video">Video</label>
                        </div>
                    </div>

                    <!-- Text-Amount-Select -->
                    <div class="text-amount-select hide" id="pre-data_laenge_text">
                        <style id="style-text" scoped></style>
                        <input name="CharPerArticleFree" id="data_laenge_text" class="range amount-text-bar" type="range" min="0" max="20000" value="0" step="100" / onmousedown="alertoffdatatext()" ontouchstart="alertoffdatatext()">
                        <p id="outputtext" class="output">0</p>
                    </div>

                    <!-- Audio-Amount-Select -->
                    <div class="audio-amount-select hide" id="pre-data_laenge_audio">
                        <style id="style-audio" scoped></style>
                        <input name="MinPerAudioFree" id="data_laenge_audio" class="range amount-audio-bar" type="range" min="0" max="90" value="0" step="0.5" / onmousedown="alertoffdataaudio()" ontouchstart="alertoffdataaudio()">
                        <p id="outputaudio" class="output">0</p>
                    </div>

                    <!-- Video-Amount-Select -->
                    <div class="video-amount-select hide" id="pre-data_laenge_video">
                        <style id="style-video" scoped></style>
                        <input name="MinPerVideoFree" id="data_laenge_video" class="range amount-video-bar" type="range" min="0" max="90" value="0" step="0.5" / onmousedown="alertoffdatavideo()" ontouchstart="alertoffdatavideo()">
                        <p id="outputvideo" class="output">0</p>
                    </div>

                    <!-- Genre-Select -->
					<div id="pre-data_genre" class="genre-select-container hide">
                    <input name="Genre" id="data_genre" class="genre-select select-font hide" list="genre" placeholder="Welches Genre?" type="text" />
                    <datalist id="genre">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
		<option value="Analyse">
        <option value="Bericht">
        <option value="Dokumentation">
		<option value="Editorial">
		<option value="Essay">
        <option value="Feature">
		<option value="Foto">
		<option value="Gebauter Beitrag">
		<option value="Glosse">
		<option value="Infografik">
        <option value="Interview">
		<option value="Kolumne">
        <option value="Kommentar">
		<option value="Kritik">
		<option value="Leitartikel">
        <option value="Moderation">
        <option value="Nachricht">
		<option value="Podcast">
        <option value="Porträt">
        <option value="Reportage">
		<option value="Rezension">
		<option value="Servicetext">
	<!--[if lte IE 9]></select><![endif]-->
    </datalist>

					</div>

                    <!-- Digitalization-Select -->
                    <div id="pre-data_verbreitung_analog_digital_beides" class="hide">
                        <div class="switch-field switch-field-text switch-field-text-3 tooltip">
                            <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_analog" name="switch-verbreitung" value="Analog" />
                            <label for="data_verbreitung_analog">Analog</label>
                            <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_digital" name="switch-verbreitung" value="Digital" />
                            <label for="data_verbreitung_digital">Digital</label>
                            <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_beides" name="switch-verbreitung" value="Analog & Digital" />
                            <label for="data_verbreitung_beides">Beides</label>
                        </div>
                    </div>

                    <!-- Time-Select -->
                    <div class="time-select hide" id="pre-data_zeit">
                        <style id="style-time" scoped></style>
                        <input name="HoursSpentFree" id="data_zeit" class="range amount-time-bar" type="range" min="0" max="100" value="0" step="0.5" onmousedown="alertoffdatatime()" ontouchstart="alertoffdatatime()" />
                        <p id="outputtime" class="output">0</p>
                    </div>

                    <div class="break"></div>
                    <div class="banner-left-2 zbanner-left hide" id="banner-left-2">Deine Arbeitssituation:</div>
                    <div class="banner-left-shadow hide" id="banner-left-shadow-2"></div>
                    <div class="banner-left-shadow hide"></div>

                    <!-- Position-Select -->
					<div id="pre-data_position" class="media-select-container hide">
                    <input name="JobPosition" id="data_position" class="position-select select-font hide" list="position" placeholder="Als was arbeitest du?" type="text" onclick="alertoffdataposition()" />
                    <datalist id="position">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
        <option value="Chefredakteur">
        <option value="Ressortleiter">
        <option value="Chef vom Dienst (CvD)">
        <option value="Redakteur">
        <option value="Volontär">
        <option value="Praktikant">
	<!--[if lte IE 9]></select><![endif]-->
    </datalist>
					</div>

                    <!-- Experience-Select -->
                    <div class="switch-field switch-field-text switch-field-text-4 hide" id="pre-data_erfahrung_jahr_1_3_5">
                        <input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_1" name="switch" value="0" />
                        <label for="data_erfahrung_jahr_1">> 1 Jahr</label>
                        <input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_3" name="switch" value="3" />
                        <label for="data_erfahrung_jahr_3">> 5 Jahre</label>
                        <input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_5" name="switch" value="5" />
                        <label for="data_erfahrung_jahr_5">> 10 Jahre</label>
                    </div>

                    <!-- Happiness-Select-->
                    <div class="happiness-select hide" id="pre-data_athmosphaere">
                        <style id="style-happiness" scoped></style>
                        <input name="Happiness" id="data_athmosphaere" class="range happiness-bar" type="range" min="1" max="9" value="0" onmousedown="alertoffdatahappiness()" ontouchstart="alertoffdatahappiness()" ontouchmove="alertoffdatahappiness()" />
                        <p id="outputhappiness" class="fav-output fav-output-0"></p>
                    </div>
                    <div class="break"></div>

                    <!-- Comment-Select -->
                    <div class="hide" id="pre-data_kommentar">
                        <textarea id="data_kommentar" class="comment-select" name="Comment" placeholder="Dein Kommentar zur Arbeitsatmosphäre, Korrekturschleifen oder ..." maxlength="250"></textarea>
                    </div>
                    <span id="disclaimer" class="disclaimer hide">Dein Kommentar ist anonym. Achte darauf, dass du deine Identität nicht verrätst!</span></span>

                    <!-- Checkbox-Select -->
                    <span class="hide" id="pre-data_checkbox">
        <input name="AGB" class="checkbox" type="checkbox" id="data_checkbox" />
        <label class="checkboxlabel " for="data_checkbox"></label>
        <span class="checkboxtext">Ich habe den <a href="#" target="_blank" class="clear-agb">Hinweis</a> gelesen.</span>
                    </span>

                    {% if messages %} {% for message in messages %}
                    <p>
                        Was fehlt:
                    </p> <span class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</span> {% endfor %} {% endif %}
                    <div>
                        {% for key, value in testdict %}
                        <tr>
                            <td> {{ key }}: </td>
                            <td> {{ value }} </td>
                        </tr>
                        {% endfor %}
                    </div>


                    <!-- Submit -->
                    <div class="alert-denied alert-media-select hide" id="WARNING">
                        <span class="closebtn" onclick="hidedenied()">&times;</span>
                        <strong>Achtung! </strong>Bitte fülle folgende Felder aus: Feld1, Feld2 und Feld2.
                    </div>
                    <input type="submit" linkdirection="#banderole" class="submit-get show" id="data_submit" value="Daten senden" disabled/>

                </form>

                <!-- After-Submit Accpeted -->
                <div class="alert alert-accepted alert-media-select hide" id="ACCEPTED">
                    <span class="closebtn" onclick="hideaccepted()">&times;</span><strong>Vielen Dank!</strong> Wir haben deine Infos in die Datenbank aufgenommen.
                </div>

                <!-- Newsletter-Anmeldung -->
                <p class="after-submit-text hide" id="after-submit-text-1">Einmal im Jahr werten wir alle Daten aus und veröffentlichen den Freischreiber-Report. Falls gewünscht, informieren wir dich via Newsletter.
                </p>
                <a href="{% static "/honoradar/artikel/newsletter.html"%}">
                    <input type="submit" class="submit hide" id="newsletter_submit" value="Newsletter" />
                </a>

                <!-- Reload -->
                <p class="after-submit-text hide" id="after-submit-text-2">Hast du noch mehr Daten für uns? Ansonsten erzähle doch deinen Kollegen hiervon. Je mehr Gehalts- und Honorar-Daten, desto besser für alle.
                </p>

                <a href="#banderole" class="smooth">
                    <input type="submit" linkdirection="#banderole" class="submit submit-reload hide" id="reload_submit" value="Dateneingabe" onmousedown="reload()" ontouchstart="reload()" />
                </a>

            </div>

            <!-- Output-Input-Box -->
            <div class="get">

                <form action="{% url 'honoradar:getdata' %}" method="get" data-url-get="{% url 'honoradar:getdata' %}" name-get="firstbox" id="get-form">
                    <div class="banner-right-1">Erfahre, was Medien zahlen!</div>
                    <div class="banner-right-shadow"></div>
                    <div class="break"></div>

                    <!-- Medium-Select -->
                    <div class="media-select-container">
                        <input name="mediumget" id="media-analyse" class="media-select select-font" list="medium" placeholder="Welches Medium interessiert dich?" type="text" onclick="getfunction()" />

                        <datalist id="medium-analyse">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->

    <!--[if lte IE 9]></select><![endif]-->
    </datalist>
                    </div>

                    <!-- Bedingung -->


                                        <!-- Bedingung -->
                                        <div class="bedingung-container" id="">
                                          <span id="bedingung" class="bedingung">Wir zeigen die Analyse nur, wenn mindestens drei Datensätze vorliegen! </span>
                                        </div>

                                        <div class="break"></div>
                                        <div class="alert-denied alert-media-select hide" id="WARNING_getdata">
                                        <span class="closebtn" onclick="hidedenied2()">&times;</span>
                                        <strong>Achtung! </strong>Du musst ein Medium definieren.
                                        </div>
										<div class="alert-denied alert-media-select hide" id="WARNING_unknown">
                                        <span class="closebtn" onclick="hidedenied3()">&times;</span>
                                        <strong>Achtung! </strong>Dieses Medium ist uns unbekannt. Hast du dich vertippt?
                                        </div>
                                        <!-- Submit -->
                                        <input type="submit" class="submit-giv show" id="analyse_submit" value="Daten auslesen" disabled/>

                                    </form>
                                </div>



            <!-- Grafik-Box -->
            <div class="result hide" id="result">

                <!-- Mediumname -->
                <div class="result-mediumname" id="result-mediumname">Mediumsname</div>

				<!-- Code of Fairness & Quellenanzahl-->
				<div class="result-facts" id="result-facts">
					<div class="codeoffairness" id="codeoffairness">
					<div class="codeoffairness-symbol">
						<span></span>
						<p class="haken show">&#x2714;</p>
					</div>
					<a class="" href="http://www.freischreiber.de/positionen/code-of-fairness/">"Code of Fairness"-Unterzeichner</a>
					</div>
					<div class="quellenanzahl show" id="quellenanzahl">
					<p>Anzahl der Datensätze: <span id="datasets_no"></span></p>
					</div>
				</div>


				<!-- Verlage Disclaimer -->
					<div class="alert-disclaimer alert-media-select show" id="alert-disclaimer">
                        <span class="closebtn" onclick="hidedenied3()">&times;</span>
                        <strong>Achtung! </strong>Die Ergebnisse basieren auf den Daten von Nutzern dieser Website. Wir bürgen nicht für deren Richtigkeit.
						Mehr Infos findest du <a class="alert-disclaimer-link" href="{% static "/honoradar/artikel/impressum.html"%}"><strong>hier</strong></a>.
                    </div>

                <!-- Result Flexbox -->
                <div class="result-grid" id="result-grid">

                    <!-- Result Frei-Box -->
                    <div class="result-item result-item-thin" id="resultfrei">

                        <div class="result-box-frei-titel">Freiberufler</div>
                        <div class="infografik" id="freigrafik1">
						<div class="nodata hide" id="nodata-frei-1">&times;</div>
                        </div>
                        <div class="result-item-text hide" id="result-text-frei">Durchschnittliches Monatsgehalt:
                        </div>
                        <div class="show" id="pre-data_format_text_audio_video">
                            <div id="data_format_text_audio_video" class="switch-field result_switch-field switch-field-text result_switch-field-text result_switch-field-text-5">
                                <input type="radio" id="result_format_text" name="result_format" value="text" onclick="textamountloan()" checked/>
                                <label for="result_format_text">Text</label>
                                <input type="radio" id="result_format_audio" name="result_format" value="audio" onclick="audioamountloan()" />
                                <label for="result_format_audio">Audio</label>
                                <input type="radio" id="result_format_video" name="result_format" value="video" onclick="videoamountloan()" />
                                <label for="result_format_video">Video</label>
                            </div>
                        </div>
                        <div class="infografik show" id="freigrafiktext">
						<div class="nodata hide" id="nodata-frei-2">&times;</div>
                        </div>
                        <div class="infografik hide" id="freigrafikaudio">
						<div class="nodata hide" id="nodata-frei-3">&times;</div>
                        </div>
                        <div class="infografik hide" id="freigrafikvideo">
						<div class="nodata hide" id="nodata-frei-4">&times;</div>
                        </div>
                    </div>

                    <!-- Result Pauschal-Box -->

                    <div class="result-item result-item-large">
                        <div class="result-item-large-first" id="resultpauschal">
                            <div class="result-box-pauschal-titel">Pauschalisten</div>
                            <div class="infografik" id="pauschalgrafik1">
							<div class="nodata hide" id="nodata-pauschal-1">&times;</div>
                            </div>
                            <div class="result-item-text hide" id="result-text-pauschal">Durchschnittliches Monatsgehalt: XXXX
                            </div>
                        </div>

                        <!-- Result Fest-Box -->
                        <div class="result-item-large-second" id="resultfest">
                            <div class="result-box-inner result-box-fest-titel">Festangestellte</div>
                            <div class="infografik" id="festgrafik1">
							<div class="nodata hide" id="nodata-fest-1">&times;</div>
                            </div>
                            <div class="result-item-text hide" id="result-text-fest">Durchschnittliches Monatsgehalt: XXXX
                            </div>
                        </div>
                    </div>

                    <!-- Result "Daten & Meinungen"-Box -->

                    <div class="result-item result-item-superlarge">
                        <div class="result-box-facts-titel">Arbeitsatmosphäre</div>
                        <div class="fact-text">
                            <div class="result-happiness-grid">
                                <div class="happiness-result happiness-result-frei" id="">
                                    <input name="" id="result_athmosphaere-frei" class="range result_happiness-bar result_happiness-0" type="range" min="1" max="9" value="0" disabled/>
                                </div>
                                <div class="happiness-result happiness-result-pauschal" id="">
                                    <input name="" id="result_athmosphaere-pauschal" class="range result_happiness-bar result_happiness-0" type="range" min="1" max="9" value="0" disabled/>
                                </div>
                                <div class="happiness-result happiness-result-fest" id="">
                                    <input name="" id="result_athmosphaere-fest" class="range result_happiness-bar result_happiness-0" type="range" min="1" max="9" value="0" disabled/>
                                </div>
                            </div>

                            <div id="result-comments" class="result-comments">
                                <p class="comment hide" id="comment-1">TEST 1: Diese Website ist sooo toll!</p>
								<p class="comment hide" id="comment-2">TEST 2: Na ja, die Datenbank is eher langsam.</p>
								<p class="comment hide" id="comment-3">TEST 3: Riecht ein bisschen fishy.</p>
								<p class="comment hide" id="comment-4">TEST 4: Hallo? Hallo? Ich würde gerne meine Oma grüßen!</p>
								<p class="comment hide" id="comment-5">TEST 5: Haluuuuuuuka!.</p>
								<p class="comment hide" id="comment-6">TEST 6: Mach mal die Function rekursiv!</p>
								<p class="comment hide" id="comment-7">TEST 7: Und denk drüber nach ...</p>
								<p class="comment hide" id="comment-8">TEST 8: ... was passiert, wenn n(comments) < n(platzhalter)</p>
								<p class="comment hide" id="comment-9">TEST 9: Da haben wir sonst nämlich whitespace. Not geil. </p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Infografiken - Text -->
                <div class="result-text"> {% if medium %}{{ medium.mediumname }} {% endif %}</div>
                <div class="result-text"> {% if avghappiness %}{{ avghappiness}} {% endif %}</div>




            </div>

            <!-- Social Share -->
            <div class="social-box">
                <a target="_blank" href="https://twitter.com/intent/tweet?url=https://wasjournalistenverdienen.de&text=Was%20verdienen%20Journalisten?%20Die%20neue%20interaktive%20Datenbank%20der%20Freischreiber:">
                    <div class="social social-1 socialtile"></div>
                </a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://wasjournalistenverdienen.de">
                    <div class="social social-2 socialtile"></div>
                </a>
                <a href="whatsapp://send?text=https://wasjournalistenverdienen.de">
                    <div class="social social-3 socialtile"></div>
                </a>
                <a href="fb-messenger://share/?link=https://wasjournalistenverdienen.de&app_id=123456789">
                    <div class="social social-4 socialtile"></div>
                </a>
                <a href="mailto:?subject=Interaktive Datenbank: Was verdienen Journalisten?&amp;body=Hallo, schau dir mal diese Seite an: https://wasjournalistenverdienen.de">
                    <div class="social social-5 socialtile"></div>
                </a>
            </div>


            <!-- News -->
            <div class="nbox-1">
                <a href="{% static "/honoradar/artikel/freischreiber-report-ankuendigung.html"%}">
                    <div class="ntile-first news news_1"><span class="news-title-head">Einmal im Jahr:<br>Freischreiber-Report startet 2019</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/tumblr.html"%}">
                    <div class="ntile-first news news_2"><span class="news-title">Gabs da nicht<br>schon 'n Tumblr?</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/credits.html"%}">
                    <div class="ntile-first news news_3"><span class="news-title">Wer steckt hinter dem Projekt?</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/prinzipien.html"%}">
                    <div class="ntile-first news news_4"><span class="news-title">Was passiert mit den Daten?</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/methodik.html"%}">
                    <div class="ntile-first news news_5"><span class="news-title">Methodik:<br>Wie wir Daten analysieren</span></div>
                </a>
            </div>

            <!-- Freischreiber-Parallax -->
            <a href="https://www.freischreiber.de" target="_blank" class="link">
                <div class="freischreiber-box"></div>
            </a>

            <!-- News -->
            <div class="nbox-2">
                <a href="{% static "/honoradar/artikel/unschlagbar-verhandeln-in-10-schritten.html"%}">
                    <div class="ntile-second news news_6"><span class="news-title">Verhandeln in 10 Schritten</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/interview-carola-dorner.html"%}">
                    <div class="ntile-second news news_7"><span class="news-title">„Honorare zu verschweigen schadet uns allen“</span></div>
                </a>
                <a href="https://www.youtube.com/watch?v=QyRBdONqZWk" data-lity>
                    <div class="ntile-second news news_8"><span class="news-title">Video: Mies gelaufen!</span></div>
                </a>
                <a href="{% static "/honoradar/artikel/honorarberechnung.html"%}">
                    <div class="ntile-second news news_9"><span class="news-title">Wie kalkuliere ich<br>meinen Stundenlohn?</span>
                    </div>
                </a>
            </div>

            <!-- Footer -->
            <div class="footer">
                <div class="footer-grid">
                    <div class="footer-grid-first">
                        <a href="{% static "/honoradar/artikel/projekt.html"%}">
                            <p class="footer-item-first footer-item clear-footer">Über das Projekt</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/credits.html"%}">
                            <p class="footer-item clear-footer">Die Macher</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/reports.html"%}">
                            <p class="footer-item clear-footer">Freischreiber-Report</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/methodik.html"%}">
                            <p class="footer-item clear-footer">Methodik</p>
                        </a>
                    </div>
                    <div class="footer-grid-second">
                        <a href="{% static "/honoradar/artikel/newsletter.html"%}">
                            <p class="footer-item-first footer-item clear-footer">Newsletter</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/datenschutz.html"%}">
                            <p class="footer-item clear-footer">Datenschutz</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/kontakt.html"%}">
                            <p class="footer-item clear-footer">Kontakt & Fragen</p>
                        </a>
                        <a href="{% static "/honoradar/artikel/impressum.html"%}">
                            <p class="footer-item clear-footer">Impressum</p>
                        </a>
                    </div>
                </div>
            </div>

    </main>



    <!-- Javascript -->

    <script src="{% static 'honoradar/navbar/js/modernizr.js'%}"></script>
    <script src="{% static 'honoradar/js/html5shiv.js'%}"></script>
    <script src="{% static 'honoradar/navbar/js/jquery-2.1.1.js'%}"></script>

    <script src="{% static 'honoradar/lity/dist/lity.js'%}"></script>
    <script src="{% static 'honoradar/navbar/js/main.js'%}"></script>
    <script src="{% static 'honoradar/js/ajax-setup.js'%}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="{% static 'honoradar/js/gradientboxplot.js'%}"></script>

    <script src="{% static 'honoradar/js/ajax-senddata.js'%}"></script>
    <script src="{% static 'honoradar/js/ajax-getdata.js'%}"></script>
    <script src="{% static 'honoradar/js/jquery.easy-autocomplete.min.js'%}"></script>

    <script src="static/honoradar/js/autocomplete-giv.js"></script>
    <script src="static/honoradar/js/autocomplete-get.js"></script>
    <!--<script src="static/honoradar/js/autocomplete-genre.js"></script>-->
    <!--<script src="static/honoradar/js/autocomplete-position.js"></script>-->
    <script src="static/honoradar/js/datalist-polyfill.min.js"></script>
    <link rel="stylesheet" href="static/honoradar/lity/dist/lity.css">

    <script src="{% static 'honoradar/js/javascript.js'%}"></script>


    </script>

</body>

</html>
