.parallax-box {

  background-image: url("../image/artikelbild-1.jpg");	margin: 50px 0px 50px 0px;
  height: 450px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: left;
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
   transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
   transition-duration: 0.5s;
	background-attachment: fixed;
}