/*Layout-Korrekturen*/
.social-box-abstand {
	margin: 150px 0px 70px 0px;	
}

/*Text-Design*/

.text-feld {
	z-index: -1;
	background-color: #fff;
	width: 95%;
	margin: 70px 2.5% 70px 2.5%;
	padding: 70px 2.5% 70px 2.5%;
	border-radius: 10px;
}

.text-title {
	font-size: 2.5em;
	font-size: calc(30px + 1.5vw);
	line-height: 1.5em;
	font-family: InknutAntiqua-Bold;
	color: #27ae60;
	z-index: 1;
	border-radius: 10px;
	text-align: left;	
	padding-left: 10%;
	padding-right: 5%;
	margin: 50px auto 90px auto;
}

.teaser-box {
	font-family: InknutAntiqua-Bold;
	line-height: 1.5em;
	width: 100%;
	max-width: 1000px;
	padding-left: 15%;
	padding-right: 5%;
}

.teaser-box::first-letter { 
	font-size: 2em;
	color: #27ae60;
	float: left;
	font-size: 75px;
	line-height: 0.8em;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 3px;
}

.text-box {
	line-height: 1.6em;
	font-family: OpenSans-Regular;
	font-size: 0.8em;
	margin: 30px 0px 50px 0px;
	width: 70%;
	max-width: 800px;
	padding-left: 5%;
	padding-right: 5%;
}

/*Auorenbox*/

.autoren-box {
	border-radius: 100%; 
	width: 90px;
	height: 90px; 
	display: inline-block; 	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;	
	margin: 50px auto 30px auto;
}

.autoren-box:after {
	color: #243040;
	font-family: OpenSans-Italic;
	font-size: 1.2rem;
	position: absolute;
	margin: calc(45px - 1.2rem) 10% auto 110px;
	line-height: 1.5;
}

@media (max-width: 	450px)  {
.autoren-box:after {
	margin: 0px 10% auto 110px;
}
}

.offset-autorenbox {
	margin-left: 30%;
}

@media (max-width: 	650px)	{
.offset-autorenbox {
	margin-left: 5%;
}	
}

/*Responsiv Design Text-Elements*/

@media (max-width: 1200px)	{
.teaser-box {
	font-size: 0.9em;
}
.teaser-box::first-letter { 
	font-size: 2.9em;
	line-height: 0.8em;
}
.text-box {
	font-size: .75em;	
}
}

@media (max-width: 900px)	{
.teaser-box {
	font-size: 0.85em;
}
.teaser-box::first-letter { 
	font-size: 2.9em;
	line-height: 0.8em;
}
.text-box {
	font-size: .7em;	
}
}

@media (max-width: 	700px)	{
.text-title {
	padding-left: 5%;	
}
.teaser-box {
	font-size: 0.8em;
	padding-left: 5%;
}
.teaser-box::first-letter { 
	font-size: 2.9em;
	line-height: 0.8em;
}
.text-box {
	font-size: .7em;	
}
}


.offset-1 {
	margin-left: 10%;	
}

.offset-2 {
	margin-left: 20%;
}

.offset-3{
	margin-left: 30%;
}

@media (max-width: 	650px)	{
.offset-1, .offset-2, .offset-3 {
	margin-left: 0%;
	width: 100%;
}	
}

.zwischentitel {
	font-size: calc(.9em + 0.3vw);
	padding-left: 5% !important;
	padding-right: 5%;
	line-height: 1.5em !important;
	font-family: InknutAntiqua-Bold !important;
	color: #FF9F23;	
	max-width: 800px;
}

.interviewfrage {
	font-family: InknutAntiqua-Bold !important;
	max-width: 800px;
	margin: 20px 0px 20px 0px;
	display:block;
}

/*Artikel-Parallax*/
.parallax-box {
	margin: 50px 5% 50px 5%;
	height: 450px;
	width: 90%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: left;
	position: relative;
	z-index: 2;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	background-attachment: fixed;
}

/*Artikelbild*/

.artikelbild {
	width: 90%;
	margin: 30px auto 70px auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 0;
	padding-top: 33.33%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.artikelbild:after {
	margin: 10px auto 0px calc(50vw);
	position: relative;
	font-size: 15px;
	font-family: OpenSans-Italic;
}

@media (max-width: 	950px)	{
.artikelbild {
	width: 90%;
	margin: 30px auto 70px auto;
	height: 0;
	padding-top: 50%;
}
}

@media (max-width: 	650px)	{
.artikelbild {
	width: 100%;
	margin: 30px auto 70px 0px;
	height: 0;
	padding-top: 60%;
}
}


@media (max-width: 	950px)	{
.artikelbild:hover {
	margin: 30px auto 30px auto;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition-delay: all 400ms ease;
	-webkit-transition-delay: all 400ms ease;
	-moz-transition-delay: all 400ms ease;
	-o-transition-delay: all 400ms ease;
	overflow: hidden;
	width: 75%;
}
}


