/* Autoren*/

.autor-michel {
    background-image: url(../image/michel_penke.jpg);
}

.autor-michel:after {
    content: "Michel Penke ※ Journalist & Frontend Designer";
}

.autor-haluka {
    background-image: url(../image/haluka_maier-borst.jpg);
}

.autor-haluka:after {
    content: "Haluka Maier-Borst ※ Datenjournalist & Python-Entwickler";
}

.autor-henry {
    background-image: url(../image/henry_steinhau.jpg);
}

.autor-henry:after {
    content: "Henry Steinhau ※ Medienjournalist & Freischreiber";
}

.autor-andreas {
    background-image: url(../image/andreas_unger.jpg);
}

.autor-andreas:after {
    content: "Jens Eber ※ freier Journalist & Freischreiber-Vorstand";
}

.autor-jens {
    background-image: url(../image/jens_eber.jpg);
}

.autor-jens:after {
    content: "Jens Eber ※ XXX & XXX";
}


.autor-oliver {
    background-image: url(../image/oliver_eberhardt.jpg);
}

.autor-oliver:after {
    content: "Oliver Eberhardt ※ XXX & XXX";
}


/*Parallax-Bilder*/

.parallax-box {
    background-image: url(../image/artikelbild-1.jpg);
}

/*Infografik-Bilder*/

.infografik-1 {
    background-image: url(../image/infografik-1.jpg);
}

/*News*/


.news_1 {
    background-image: url(../image/news_1.jpg);
    padding: 230px 50px 0px calc(10%);
}

.news_2 {
    background-image: url(../image/news_2.jpg);
    padding: 20px 50px 0px calc(2.5%);
    background-size: 130%;
}

.news_3 {
    background-image: url(../image/news_3.jpg);
    padding: 160px 50px 0px calc(2.5%);
}

.news_4 {
    background-image: url(../image/news_4.jpg);
    padding: 160px 50px 0px calc(2.5%);
}

.news_5 {
    background-image: url(../image/news_5.jpg);
    padding: 100px 0px 0px calc(50% - 120px);
}

.news_6 {
    background-image: url(../image/news_6.jpg);
    padding: 175px 0px 0px calc(50% - 150px);
}

.news_7 {
    background-image: url(../image/news_7.jpg);
    padding: 150px 50px 0px calc(4%);
    text-align: right;
}

.news_8 {
    background-image: url(../image/news_8.jpg);
    padding: 15px 0px 0px calc(50% - 130px);
}

.news_9 {
    background-image: url(../image/news_9.jpg);
    padding: 20px 50px 0px calc(4%);
}
