/*Layout-Korrekturen*/
.social-box-abstand {
	margin: 150px 0px 70px 0px;	
}

/*Text-Design*/

.text-feld {
	z-index: -1;
	background-color: #fff;
	width: 95%;
	margin: 70px 2.5% 70px 2.5%;
	padding: 70px 2.5% 70px 2.5%;
	border-radius: 10px;
}

.text-title {
	font-size: 2.5em;
	font-size: calc(30px + 1.5vw);
	line-height: 1.5em;
	font-family: InknutAntiqua-Bold;
	color: #27ae60;
	z-index: 1;
	border-radius: 10px;
	text-align: left;	
	padding-left: 10%;
	padding-right: 5%;
	margin: 50px auto 90px auto;
}

.teaser-box {
	font-family: InknutAntiqua-Bold;
	line-height: 1.5em;
	width: 100%;
	max-width: 1000px;
	padding-left: 15%;
	padding-right: 5%;
}

.teaser-box-abstand {
	margin-bottom: 80px;
}

.teaser-box-reports {
	margin-bottom: 120px;
}


@media (max-width: 	700px)	{
	.teaser-box-reports {
		margin-bottom: 60px;
	}
}

.teaser-box::first-letter { 
	font-size: 2em;
	color: #27ae60;
	float: left;
	font-size: 75px;
	line-height: 0.8em;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 3px;
}

.text-box {
	line-height: 1.6em;
	font-family: OpenSans-Regular;
	font-size: 0.8em;
	margin: 30px 0px 50px 0px;
	width: 70%;
	max-width: 800px;
	padding-left: 5%;
	padding-right: 5%;
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 
}



/*Auorenbox*/

.autoren-box {
	border-radius: 100%; 
	width: 90px;
	height: 90px; 
	display: inline-block; 	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;	
	margin: 50px auto 30px auto;
}

.autoren-box:after {
	color: #243040;
	font-family: OpenSans-Italic;
	font-size: 1.2rem;
	position: absolute;
	margin: calc(45px - 1.2rem) 10% auto 110px;
	line-height: 1.5;
}

@media (max-width: 	450px)	{
	.autoren-box:after {
		margin: 0px 10% auto 110px;
	}
}

.offset-autorenbox {
	margin-left: 30%;
}

@media (max-width: 	650px)	{
	.offset-autorenbox {
		margin-left: 5%;
	}	
}

/*Responsiv Design Text-Elements*/

@media (max-width: 1200px)	{
	.teaser-box {
		font-size: 0.9em;
	}
	.teaser-box::first-letter { 
		font-size: 2.9em;
		line-height: 0.8em;
	}
	.text-box {
		font-size: .75em;	
	}
}

@media (max-width: 900px)	{
	.teaser-box {
		font-size: 0.85em;
	}
	.teaser-box::first-letter { 
		font-size: 2.9em;
		line-height: 0.8em;
	}
	.text-box {
		font-size: .7em;	
	}
}

@media (max-width: 	700px)	{
	.text-title {
		padding-left: 5%;	
	}
	.teaser-box {
		font-size: 0.8em;
		padding-left: 5%;
	}
	.teaser-box::first-letter { 
		font-size: 2.9em;
		line-height: 0.8em;
	}
	.text-box {
		font-size: .7em;	
	}
}


.offset-1 {
	margin-left: 10%;	
}

.offset-2 {
	margin-left: 20%;
}

.offset-3{
	margin-left: 30%;
}

@media (max-width: 	650px)	{
	.offset-1, .offset-2, .offset-3 {
		margin-left: 0%;
		width: 100%;
	}	
}

.zwischentitel {
	font-size: calc(.9em + 0.3vw);
	padding-left: 5% !important;
	padding-right: 5%;
	line-height: 1.5em !important;
	font-family: InknutAntiqua-Bold !important;
	color: #FF9F23;	
	max-width: 800px;
}

.interviewfrage {
	font-family: InknutAntiqua-Bold !important;
	max-width: 800px;
	margin: 20px 0px 20px 0px;
	display:block;
}

/*Artikel-Parallax*/
.parallax-box {
	margin: 50px 5% 50px 5%;
	height: 450px;
	width: 90%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: left;
	position: relative;
	z-index: 2;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	 transition-duration: 0.5s;
	background-attachment: fixed;
}

/*Artikelbild*/

.artikelbild {
	width: 90%;
	margin: 30px auto 70px auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 0;
	padding-top: 33.33%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.artikelbild:after {
	margin: 10px auto 0px calc(40vw);
	position: relative;
	font-size: 15px;
	font-family: OpenSans-Italic;
}

@media (max-width: 	1150px)	{
	.artikelbild:after {
		margin: 10px auto 0px calc(30vw);
	}
}

@media (max-width: 	950px)	{
	.artikelbild {
		width: 90%;
		margin: 30px auto 70px auto;
		height: 0;
		padding-top: 50%;
	}
	.artikelbild:after {
		margin: 10px auto 0px calc(20vw);
	}
}

@media (max-width: 	850px)	{
	.artikelbild:after {
		margin: 10px auto 0px calc(30vw);
	}
}

@media (max-width: 	650px)	{
	.artikelbild {
		width: 100%;
		margin: 30px auto 70px 0px;
		height: 0;
		padding-top: 60%;
	}
	.artikelbild:after {
		margin: 10px auto 0px calc(25vw);
	}
}

@media (max-width: 	450px)	{
	.artikelbild:after {
		margin: 10px auto 0px calc(15vw);
	}
}


@media (max-width: 	950px)	{
.artikelbild:hover {
	margin: 30px auto 30px auto;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition-delay: all 400ms ease;
	-webkit-transition-delay: all 400ms ease;
	-moz-transition-delay: all 400ms ease;
	-o-transition-delay: all 400ms ease;
	overflow: hidden;
	width: 75%;
}
}



/*Tabellen-Styling*/

table {
	font-family: OpenSans-Regular;
	font-size: inherit;
	text-rendering: optimizeLegibility;
}

.table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto auto 50px auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}
 
th {
	color: #fff;
	background:#FF9F23;
	border-bottom:4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 0.8em !important;
	font-family: OpenSans-Bold !important;
	padding: 20px !important;
	text-align:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

th:first-child {
	border-top-left-radius:3px;
}
 
th:last-child {
	border-top-right-radius:3px;
	border-right:none;
}
	
tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color: #fff;
}
 
tr:hover td {
	background:#2ecc71;
	color: #ffffff;
}
 
tr:first-child {
	border-top:none;
}

tr:last-child {
	border-bottom:none;
}
 
tr:nth-child(odd) td {
	background: #27ae60;
}
 
tr:nth-child(odd):hover td {
	background: #2ecc71;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-o-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}
 
td {
	background: #39BA6F;
	padding: 12px 12px 12px 20px!important;
	text-align:left;
	vertical-align:middle;
	border-right: 1px solid #C1C3D1;
}

td:last-child {
	border-right: 0px;
}

td.text-left, td.text-right, th.text-left, th.text-right {
	text-align: left;
}

.text-left, .text-right{
	font-size: 0.7em;
	vertical-align: middle;
	line-height: 1.3em;
}

.text-right{
	min-width: 170px;
}

@media (max-width: 700px)	{
	.text-left, .text-right{
		font-size: 0.6em;
	}
	.text-right{
		min-width: 160px;
	}
	th {
		font-size: 0.7em !important;
	}
}

@media (max-width: 500px)	{
	.text-left, .text-right{
		font-size: 0.55em;
	}
	.text-right{
		min-width: 150px;
	}
	th {
		font-size: 0.65em !important;
	}
}

@media (max-width: 500px)	{
	.text-left, .text-right{
		font-size: 0.55em;
	}
	.text-right{
		min-width: 130px;
	}
	th {
		font-size: 0.65em !important;
	}
}
	
/*Newsletter-Anmeldung*/

.newsletter-box {
	max-width: 650px;
	width: 100%;
	margin: 30px auto 30px 24%;
}

.newsletter-box-right {
	margin: 30px auto 30px 24%;
}

@media (min-width: 1200px)	{
	.newsletter-box-right {
		margin: 30px auto 30px 34%;
	}
}

@media (max-width: 1100px)	{
	.newsletter-box {
		margin: 30px auto 30px 20%
	}
}

@media (max-width: 1000px)	{
	.newsletter-box {
		margin: 30px auto 30px 15%
	}
}

@media (max-width: 950px)	{
	.newsletter-box {
		margin: 30px auto 30px 10%
	}
}

@media (max-width: 900px)	{
	.newsletter-box {
		margin: 30px auto 30px 5%
	}
}

@media (max-width: 870px)	{
	.newsletter-box {
		width: 90%;
	}
}

@media (max-width: 1200px)	{
	.newsletter-text {
		margin-left: 20%;
	}
}

@media (max-width: 	650px)	{
	.newsletter-text {
		margin-left: 0%;
	}	
}

.newsletter-box fieldset {
	background: #e3e3e3;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

.email-select {
	position: inline-block;
	font: inherit;
	font-family: OpenSans-Regular;
	font-size: 15px;
	height: 35px;
	border-radius: 4px 4px 4px 4px;
	padding-left: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	transition: all .3s;
	background: #eee;
	color: #777;
	padding: 4px 10px;
	width: 100%;
}

.newsletter-box-title {
	line-height: 1.5em;
	font-family: InknutAntiqua-Bold;
	background: #FF9F23;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: calc(20px + .5vw);;
	padding: 20px 26px;
}

.checkbox-newsletter {
	display: block;
	opacity: 0;
	margin-top: 20px;
}
.checkboxlabel-newsletter {
	width: 60px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	background: rgb(189, 189, 189);
	border-radius: 30px;
	transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-webkit-transition: background-color 0.4s;
	 float: left;
	margin-left: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.checkboxlabel-newsletter:after {
	left: 0;
	width: 20px;
	height: 20px;
	margin: 5px;
	content: '';
	position: absolute;
	background: #FFF;
	border-radius: 10px;
}

.checkbox-newsletter:checked + .checkboxlabel-newsletter {
	background: rgb(39, 173, 95);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.checkbox-newsletter:checked + .checkboxlabel-newsletter:after {
	left: auto;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


.checkboxtext-newsletter {
	position: relative;
	content: '';
	display: block;
	margin: 7px 20px 20px 80px;
	color: #243040;
	font-family: OpenSans-Regular;
	font-size: 1em;
	line-height: 22px;
}

@media (max-width: 718px)	{
	.checkboxtext-newsletter {
		margin: -7px 0px 20px 80px;
		font-size: 1em;
		line-height: 22px;
	}
}

@media (max-width: 501px)	{
	.checkboxtext-newsletter{
		line-height: 25px;
		font-size: 1em !important;
		line-height: 22px;
	}
}

@media (max-width: 499px)	{
	.checkboxtext-newsletter{
		line-height: 25px;
		font-size: 0.63em !important;
		line-height: 22px;
	}
	.checkboxtext-newsletter{
		margin: 20px 10px 20px 10px;
	}
	.checkboxlabel-newsletter {
		float: none !important;
	}
}


@media (max-width: 350px)	{
	.checkboxtext-newsletter{
		line-height: 25px;
		font-size: 1em;
	}
}

.checkboxtext-newsletter a {
	text-decoration: none;
	color: #243040 !important;
	font-family: OpenSans-Bold;
}

.checkboxtext-newsletter a:after {
	height:50px;
	height:2.2rem;
	width:0;
	background: #ffe;
	bottom:-0.45em;
}

.submit-newsletter {
	position: relative;
	margin: 30px 0px 30px calc(50% - 100px);
	width: calc(200px + 2vw);
	height: 65px;
	background: #27ae60;
	color: #fff;
	font-family: InknutAntiqua-Bold;
	font-size: 22px;
	border-radius: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline:0px none transparent;
	cursor: pointer;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition-delay: all 400ms ease;
	-webkit-transition-delay: all 400ms ease;
	-moz-transition-delay: all 400ms ease;
	-o-transition-delay: all 400ms ease;
	border: solid 3px #27ae60;
}

.submit-newsletter:hover {
	background: #fff;
	color: #27ae60;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition-delay: all 400ms ease;
	-webkit-transition-delay: all 400ms ease;
	-moz-transition-delay: all 400ms ease;
	-o-transition-delay: all 400ms ease;
	border: solid 3px #27ae60;
}

