<!doctype html>

<html lang="de">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="date" content="2020-103-19">
    <meta name="robots" content="noindex,nofollow">

    <!-- Flavicon -->
    <link rel="shortcut icon" href="../../../static/favicon.ico">
    <link rel="shortcut icon" href="../../../static/favicon.png">
    <link rel="icon" type="image/png" href="../../../static/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../static/favicon.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon_apple_touch.png">
    <meta name="msapplication-TileImage" content="../../../static/favicon_msapplication.png">

    <!-- Style -->
    <link rel="stylesheet" href="../../../static/honoradar/css/style.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/style-sub.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/style-elements.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/font.css">
    <link rel="stylesheet" href="../../../static/honoradar/navbar/css/reset.css">
    <link rel="stylesheet" href="../../../static/honoradar/navbar/css/style.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/style-ranking-table.css">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Freischreiber-Report 2020">
    <meta name="twitter:description" content="Wer zahlt wie viel? Der Freischreiber-Report 2020 bringt Transparenz in die Löhne und Gehälter von Journalisten.">
    <meta name="twitter:url" content="https://www.wasjournalistenverdienen.de/static/honoradar/artikel/freischreiberreport-2020.html">
    <meta name="twitter:image" content="https://www.wasjournalistenverdienen.de/static/honoradar/image/freischreiberreport_2020.jpg">

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:locale" content="de_DE">
    <meta property="og:title" content="Freischreiber-Report 2020">
    <meta property="og:description" content="Welches Medium zahlt wie viel? Der Freischreiber-Report 2020 bringt Transparenz in die Löhne und Gehälter von Journalisten.">
    <meta property="og:url" content="https://www.wasjournalistenverdienen.de">
    <meta property="og:image" content="https://www.wasjournalistenverdienen.de/static/honoradar/image/freischreiberreport_2020.jpg">

    <!-- General SEO -->
    <meta name="author" content="Michel Penke">
    <meta name="title" content="Freischreiber-Report 2020">
    <meta name="description" content="Der Freischreiber-Report 2020 untersucht die Einkommenssituation von deutschen Journalisten">
    <meta name="keywords" content="Freischreiber,Report,2020,journalist,analyse,gehalt,lohn,honorar,auswertung,daten">

</head>

<body>
    <title>Freischreiber-Report 2020</title>

    <!-- Navbar -->
    <a href="#cd-nav" class="cd-nav-trigger clear-fixed">Menu
        <span class="cd-nav-icon"></span>
        <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
            <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="24" cy="24" r="24" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
        </svg>
    </a>

    <div id="cd-nav" class="cd-nav">
        <div class="cd-navigation-wrapper">
            <div class="cd-half-block">
                <h2 class="navtitle1">Navigation</h2>
                <nav>
                    <ul class="cd-primary-nav">
                        <li><a href="../../../" class="selected">Startseite</a></li>
                        <li><a href="../../../static/honoradar/artikel/projekt.html">Über das Projekt</a></li>
                        <li><a href="../../../static/honoradar/artikel/reports.html">Freischreiber-Report</a></li>
                        <li><a href="../../../static/honoradar/artikel/newsletter.html">Newsletter</a></li>
                        <li><a href="../../../static/honoradar/artikel/impressum.html">Impressum</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cd-half-block">
                <address>
                    <ul class="cd-contact-info">
                        <h2 class="navtitle2">Kontakt</h2>
                        <li><a href="mailto:kontakt@freischreiber.de" class="clear-navi">kontakt@freischreiber.de</a></li>
                        <li><a href="tel:04022867152" class="clear-navi">040 – 22 86 71 52</a></li>
                        <li><a href="//maps.google.com/maps?q=Hoheluftchaussee+53A,+20253+Hamburg/" class="clear-navi" data-lity>
                                <span>Büro Freischreiber e.V.</span>
                                <span>Hoheluftchaussee 53a</span>
                                <span>20253 Hamburg 24</span>
                            </a></li>
                    </ul>
                </address>
            </div>
        </div>
    </div>

    <!-- Main -->
    <main id="main">

        <!-- Banderole -->
        <div class="banderole" id="banderole"></div>

        <!-- Text-Feld -->
        <div class="text-feld">

            <!-- Titel-Box-->
            <h1 class="text-title">Freischreiber-Honorarreport 2020:<br>Schwerpunkt Lokaljournalismus (Print)</h1>

            <!-- Teaser -->
            <div class="teaser-box">
                Im zweiten Jahr des Freischreiber-Honorarreports müssen wir dringend eine Frage klären: Was ist ein Honorar? Das wissen viele Medien nicht und zahlen ihren freien Journalist*innen ein Taschengeld. Vor allem im Lokaljournalismus, einem der wichtigsten Ressorts überhaupt</div>

            <!-- Autorenbox -->
            <br><br>
            <a href="https://www.torial.com/katharina.jakob">
                <div class="autoren-box autor-katharina offset-autorenbox" style="margin-bottom: 20px;">
                </div>
            </a><br>
            <a href="https://twitter.com/olivereberhardt">
                <div class="autoren-box autor-oliver offset-autorenbox" style="margin-top: 20px;">
                </div>
            </a> <br>
            <a href="https://twitter.com/eberjens">
                <div class="autoren-box autor-jens offset-autorenbox" style="margin-top: 20px;">
                </div>
            </a>
            <br>
            <a href="http://maier-borst.de/wp/">
                <div class="autoren-box autor-haluka offset-autorenbox" style="margin-top: 20px;">
                </div>
            </a><br>
            <a href="https://michelpenke.de">
                <div class="autoren-box autor-michel offset-autorenbox" style="margin-top: 20px;">
                </div>
            </a><br>
            <br>

            <!-- Text-Box -->
            <p class="text-box offset-2" id="start">
                Im ersten <a href="./freischreiberreport-2019.html">Freischreiber-Honorarreport 2019</a> hatten wir noch geschrieben: „Über Geld zu sprechen ist für freie Journalist*innen existenzentscheidend.“ Nur wenn wir wissen, wer wie viel zahlt, können wir faire Honorare aushandeln.
            </p>
            <p class="text-box offset-2">
                Nun haben wir den zweiten Freischreiber-Honorarreport fertiggestellt, mit dem Schwerpunkt Lokaljournalismus (Print). Und stellen fest: In einem der wichtigsten Ressorts unserer Branche gibt es für rund ein Viertel der Freien gar kein Honorar. Sondern Taschengeld. Von dem sie nicht leben können.
            </p>
            <p class="text-box offset-2">
                Doch zunächst ein Vergleich der gesamten Honorare mit denen des Vorjahrs: Haben sie sich verändert? Wenn ja, wie?
            </p>

            <h2 class="zwischentitel offset-2">Vergleich 2019: Was hat sich verändert?</h2>
            <p class="text-box offset-2">
                2019 lag das Stundenhonorar freier Journalist*innen im Mittel bei 22,50 Euro brutto. Errechnet aus 1443 Datensätzen, die in unserem Freischreiber-Honorartool <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> bis Januar 2019 zusammengekommen waren. Das Ergebnis war ein Schock. Denn nach einer Selbstständigen-Faustregel<a href="#1"><sup id="1-back">1</sup></a> bleibt etwa ein Drittel davon als Gewinn – also rund 7,50 Euro netto pro Stunde.
            </p>

            <p class="text-box offset-2">
                „Ein Brutto-Stundensatz von 22,50 Euro – das ist widerwärtig“, schrieben wir damals als Fazit. „Davon sollten Journalist*innen nicht leben müssen. Und es auch gar nicht erst versuchen.“
            </p>

            <h2 class="zwischentitel offset-3">Wer zahlt 2020 wie viel?</h2>
            <p class="text-box offset-3">
                Nun liegt der zweite Freischreiber-Honorarreport vor, auf der Basis von 2064 Datenspenden, gesammelt bis 17. Februar 2020. Um es gleich zu sagen: Die Situation der Freien hat sich nicht verbessert. Obwohl wir einen signifikanten Datenzuwachs haben im Vergleich zum Vorjahr (2019: 1443 Datenspenden), bleibt das gemittelte Stundenhonorar wie einbetoniert bei 22,73 Euro. Spaßvögel könnten jetzt sagen: immerhin, eine Steigerung im Mü-Bereich von 23 Cent. Brutto.
            </p>

            <p class="text-box offset-3">
                Auffällig ist wie schon 2019 die extreme Bandbreite der Honorare, die freie Journalist*innen erzielen – abhängig vom Medium, für das sie arbeiten. Wie stark die Schere auseinanderklafft, zeigt unsere alphabetisch sortierte Liste. Textbeiträge werden darin nach Umfang ausgewiesen (Honorar pro 1000 Zeichen).
            </p>

            <p class="text-box offset-3">
                Der Spitzenreiter – das Greenpeace Magazin – zahlt seinen Freien für 1000 Zeichen knapp 200 Euro, das Schlusslicht Jungle World hingegen knapp 8 Euro. Gerade so, als handele es sich hier um zwei verschiedene Berufe.
            </p>

            <div id="ranking">
                <div class="search">
                    <div class="icon">
                        <div class="circle"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Suche ..." v-model="searchQuery">
                    </div>
                </div>
                <div class="table-container">
                    <div class="thead">
                        <div @click="sort('name','desc')" class="thead-item thead-item_1">Medium</div>
                        <div @click="sort('zufriedenheit_frei','desc')" class="thead-item thead-item_2">Zufrieden<span class="seperator_1">-<br></span>heit</div>
                        <div @click="sort('geld_text','asc')" class="thead-item thead-item_3">Honorar pro<br>1.000 Zeichen</div>
                        <div @click="sort('geld_audio','asc')" class="thead-item thead-item_4">Honorar pro<br>Audio<span class="seperator_3">-<br></span>minute</div>
                        <div @click="sort('geld_video','asc')" class="thead-item thead-item_5">Honorar pro<br>Video<span class="seperator_3">-<br></span>minute</div>
                        <div @click="sort('amount','desc')" class="thead-item thead-item_6">Daten<span class="seperator_2">-<br></span>spenden</div>
                    </div>
                    <table>
                        <tbody name="fade-list" is="transition-group">
                            <tr v-for="media in filteredBySearch" :key="media.name">
                                <td>{{media.name}}</td>
                                <td>{{media.zufriedenheit_frei}}</td>
                                <td><i v-if="media.geld_text>0">{{media.geld_text}} €</i></td>
                                <td><i v-if="media.geld_audio>0">{{media.geld_audio}} €</i></td>
                                <td><i v-if="media.geld_video>0">{{media.geld_video}} €</i></td>
                                <td><i v-if="media.amount>0"></i>{{media.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="warning" v-if="filteredBySearch.length<=0">
                        <span>Kein Ergebnisse gefunden.</span>
                    </div>
                </div>
            </div>

            <p class="text-box chart-description">
                In diese Liste sind nur Medien mit mindestens drei Datenspenden im Bereich "Freie Journalist*innen" eingeflossen. Audio- und Videominute meinen das Honorar, das eine Redaktion, gemittelt für eine produzierte Minute Podcast oder Video, zahlt. Alle Werte sind gleitende Mediane<a href="#2"><sup id="2-back">2</sup></a> (siehe <a href="./methodik.html">※ Methodik</a>). Der Stichtag der Datenerhebung war der 17.02.2020.
            </p>


            <h2 class="zwischentitel offset-2">Zum Making-of: </h2>
            <p class="text-box offset-2">
                Bis zum 17. Februar 2020 erhielten wir 2064 Datenspenden, verteilt auf 761 Medien: 1475 von freien Journalist*innen (71 %), 431 von Festangestellten (21 %) und 158 von Pauschalist*innen (8 %).
            </p>

            <p class="text-box offset-3">
                Die Honorare haben wir auf zweierlei Art gesammelt: einmal nach Umfang eines Beitrags (Zeichen oder Audio-/Video-Minuten) und einmal nach geschätztem Zeitaufwand (Stunden). Letzteres vor allem, weil wir eine Vergleichsmöglichkeit zu den Einkünften der Festangestellten und Pauschalist*innen schaffen wollten. Aber auch, weil der zeitliche Aufwand darüber mitentscheidet, ob sich ein Auftrag für Freie rechnet. Uns war klar, dass dabei die Gefahr von Verzerrungen hoch ist, schließlich handelt es sich um subjektive Einschätzungen.
            </p>

            <p class="text-box offset-3">
                In die obige Liste kamen ausschließlich Honorare mit mindestens drei Datensätzen als Basis. Datenspenden mit starken Ausreißern haben wir ausgeschlossen. Bitte beachten: Diese Zahlen sind nicht <a href="#disclaimer">repräsentativ</a>. Dafür sind die Stichproben zu gering, verteilt auf die einzelnen Redaktionen und Sender (siehe unten: Über die Validität der Ergebnisse). Bei den Honoraren haben wir nicht den Durchschnitt ermittelt, sondern den sogenannten gleitenden Median, der durch Extremwerte viel weniger beeinflusst wird. Hier erfahrt ihr mehr über unsere <a href="./methodik.html">※ Methodik</a> und wie wir unsere Werte berechnen.
            </p>

            <p class="text-box offset-2">
                Audio- und Videohonorare findet ihr in den Spalten „Honorar pro Audiominute“ und „Honorar pro Videominute“. Außerdem seht ihr, wie zufrieden freie Kolleg*innen mit der redaktionellen Zusammenarbeit waren und wie viele Datenspenden uns pro Medium vorlagen. Mit einem Klick auf die Spaltenüberschriften lässt sich die Liste neu sortieren. Klickt ihr zum Beispiel auf „Zufriedenheit“, seht ihr, mit welchem Medium freie Journalist*innen gern zusammenarbeiten. Je höher der Punktwert, desto besser.
            </p>


            <p class="text-box offset-2">
                Wie auch die zweite Grafik zeigt. Hier sind alle Medien, zu denen uns mindestens drei Datenspenden pro Berufsgruppe (Freie, Pauschalist*innen, Feste) vorlagen, nach Zufriedenheit plus Stundenhonorar aufgeführt. Was immer wieder für Überraschungen sorgt: Die überregionale Wochenzeitung Jungle World etwa zahlt extrem wenig, trotzdem hat sie auch in diesem Jahr einen der höchsten Werte bei Zufriedenheit. Allerdings ist beides im Sinkflug: die sowieso schon geringe Bezahlung und die Freude, dafür zu arbeiten.
            </p>


            <div id="zufriedenheitvslohn" style="max-width: 85%; height: 600px; max-width: 1200px; margin: 0 auto"></div>
            <p class="text-box chart-description">
                Visualisiert sind 191 Medien mit ihren Stundensätzen, getrennt für Freie, Pauschalist*innen und Feste, wenn mindestens drei Datenspenden vorlagen.
                Die Zufriedenheitswerte von Freien, Pauschalist*innen und Festen sind nicht zu einem gemeinsamen Wert verrechnet, sondern getrennt dargestellt.
                Die Spanne reicht von 1 (= am schlechtesten) bis 9 (= am besten) und ist hier aus UX-Gründen (User-Experience) verkürzt dargestellt.
                Grün = Freiberufler*innen, Blau = Pauschalist*innen, Orange = Festangestellte
            </p>

            <p class="text-box offset-3">
                <strong class="points">Kleine Lesehilfe:</strong> Medien, die oben rechts stehen, zahlen am besten und bekommen hohe Zustimmungswerte. Medien, die unten rechts stehen, zahlen eher schlecht, sind aber dennoch beliebt. Und unten links haben wir Kandidaten für den Freischreiber-Hölle-Preis: Medien, die schlecht zahlen und mit denen Journalist*innen nicht zufrieden sind. Wenn ihr mit der Maus über die Punkte fahrt oder sie auf einem Touchscreen berührt, färben sie sich ein. Grün steht für Freiberufler*innen, Blau für Pauschalist*innen und Orange für Festangestellte.
            </p>

            <h2 class="zwischentitel offset-2">Nennt es nicht Honorar!</h2>
            <p class="text-box offset-2">
                Nun zu unserem Schwerpunkt Lokaljournalismus (Print). Für die lokalen Tageszeitungsredaktionen haben wir insgesamt 210 Datenspenden von freien Journalist*innen erhalten, die in die Bewertung eingeflossen sind. Ihnen haben wir 233 Datenspenden aus überregionalen Tageszeitungen gegenübergestellt.
            </p>
            <p class="text-box offset-2">
                Im Tageszeitungsjournalismus wird in der Regel nicht nach Zeichen, sondern nach Zeilen bezahlt. Diese können aber je nach Zeitung mal länger, mal kürzer sein. Unser Tool <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> lässt darum einen Zeilen-Eintrag nicht zu. Geht man von einem mittleren Wert von 30 Zeichen pro Zeile aus, käme ein Tageszeitungsaufmacher von 100 Zeilen umgerechnet also auf etwa 3000 Zeichen.
            </p>

            <h2 class="zwischentitel offset-2">Wie viel bekommen freie Lokaljournalist*innen nun für ihre Arbeit?</h2>
            <p class="text-box offset-2">
                Die Zahlen sind deutlich: 26,2 Prozent aller freien Lokaljournalist*innen, die sich in unserem Honorartool eingetragen haben, erhalten maximal 10 Euro brutto pro Stunde für ihre Arbeit und ihr Engagement. Ein gutes Viertel der freien Profis bekommt also von den Lokalredaktionen ein Taschengeld, ein Zubrot, eine Aufwandsentschädigung. Aber kein Honorar.
            </p>

            <p class="text-box offset-2">
                Zusammen mit den Kolleg*innen, die auf höchstens 15 Euro die Stunde (brutto) kommen, machen sie 41 Prozent der freien Lokaljournalist*innen unseres Honorartools aus.
            </p>

            <p class="text-box offset-3">
                Die ganz große Mehrheit der freien Lokaljournalist*innen – insgesamt 85,6 Prozent – erhält bei lokalen Tagesblättern maximal 25 Euro brutto pro Stunde. Davon kann man nur mit Ach und Krach über die Runden kommen, solange nichts passiert. Solange es keine Krisen existenzieller Art gibt wie Corona.
            </p>

            <p class="text-box offset-3">
                <strong class="points">Kleiner Tipp:</strong> Um die genauen Werte abzulesen, fahrt mit der Maus über die Infografik bzw. berührt sie auf einem Touchscreen.
            </p>

            <style>
                #verteilung div[data-highcharts-chart="1"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.402)"],
                #verteilung div[data-highcharts-chart="4"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.402)"],
                #verteilung div[data-highcharts-chart="1"] div svg>text:nth-child(7),
                #verteilung div[data-highcharts-chart="4"] div svg>text:nth-child(7) {
                    display: none;
                }

                #verteilung div[data-highcharts-chart="2"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.401)"],
                #verteilung div[data-highcharts-chart="5"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.401)"],
                #verteilung div[data-highcharts-chart="2"] div svg>text:nth-child(6),
                #verteilung div[data-highcharts-chart="5"] div svg>text:nth-child(6) {
                    display: none;
                }

                @media screen and (max-width: 550px) {
                    svg>g.highcharts-label {
                        transform: translate(0px, 30px);
                    }
                }

                iframe#verteilung {
                    height: 600px;
                }

                iframe#verbreitung {
                    height: 900px;
                }

                @media screen and (max-width: 565px) {
                    iframe#verteilung {
                        height: 400px;
                    }

                    iframe#verbreitung {
                        height: 600px;
                    }
                }

            </style>

            <div id="verteilung" style="width: 100%; min-width: 290px; max-width: 900px; margin: 0 auto"></div>
            <p class="text-box chart-description">
                Visualisiert sind 210 Datenspenden von freien Journalist*innen bei lokalen Zeitungsredaktionen und 233 Datenspenden bei überregionalen Print-Medien. Die y-Achse entspricht den Anteilen an den jeweilen Teilgesamtheiten. Die Mediane liegen bei 18,64 Euro für die lokalen und 22,26 Euro für die überregionalen Medien.
            </p>

            <p class="text-box offset-2">
                In den Kommentaren zu den Einträgen im Honorartool lesen wir dann auch Entsprechendes:
            </p>


            <p class="text-box offset-3">
                <strong class="points">Rheinische Post:</strong><br>
                „<em>Die Freien in den Außenredaktionen erhalten gerade mal 0,30 Euro pro Zeile. Das bedeutet: Aufmacher mit 100 Zeilen 30,00 Euro. Meist mit 4 bis 5 Stunden Arbeit verbunden. Unterirdischer Stundenlohn!</em>“
                <br><br>
                „<em>Mit Freien wird, zur schlechten Bezahlung, auch noch schlecht umgegangen.</em>“
            </p>

            <p class="text-box offset-3">
                <strong class="points">Märkische Allgemeine:</strong><br>
                „<em>Aktueller Tageshöchstsatz = 125 Euro; Covern von 1 bis 2 Terminen, Fotos selbst machen.</em>“
            </p>

            <p class="text-box offset-3">
                <strong class="points">Frankfurter Rundschau:</strong><br>
                „<em>Die Arbeit am Wochenende wird mit pauschal 130 Euro netto vergütet. (Veranstaltungstermin ist meist am Samstag wahrzunehmen, mitunter am Freitag oder Sonntag. Texte schreiben am Sonntag, es ist i.d.R. eine komplette Seite zu füllen. Keine Fahrtkosten.</em>“
            </p>

            <h2 class="zwischentitel offset-2">Vergleich: Überregionale Tageszeitungen</h2>
            <p class="text-box offset-2">
                Verglichen mit den lokalen Blättern stehen die überregionalen Tageszeitungen besser da, aber nicht viel besser. Ein gutes Drittel (34,3 Prozent) aller freien Journalist*innen unseres Honorartools bekommt pro Stunde mindestens 25 Euro brutto und mehr. Doch ebenfalls ein gutes Drittel (35,3 Prozent) wird mit bis zu 15 Euro brutto die Stunde abgespeist. Und 22,4 Prozent der Freien erhält mit höchstens 10 Euro brutto eine Aufwandsentschädigung. Was den Journalismus zum Ehrenamt macht. Oder zum Hobby.
            </p>

            <p class="text-box offset-2">
                Auch müssen unsere Kolleg*innen manchmal verdammt lang auf ihr Geld warten, wie ein Kommentar im Honorartool zeigt:
            </p>

            <p class="text-box offset-3">
                <strong class="points">Süddeutsche Zeitung:</strong><br>
                „<em>Freie Autoren warten bis zu acht Monate auf Abdruck und Honorierung.</em>“
            </p>

            <p class="text-box offset-2">
                Der Median – in der Grafik grau hinterlegt – liegt bei den überregionalen Tageszeitungen bei 22,26 Euro. Bei den lokalen Blättern hingegen bei 18,64 Euro – gut 16 Prozent weniger. Beim Zufriedenheitswert-Median ist es ähnlich. Er liegt bei überregionalen Tageszeitungen mit 6,2 höher als bei den lokalen. Dort gibt es 5,8 von 9 möglichen Punkten.
            </p>

            <p class="text-box offset-2">
                <strong class="points">Was uns wirklich sprachlos macht:</strong> 8,1 Prozent aller Freien, die Eingaben im Honorartool gemacht haben und für überregionale Tagesblätter arbeiten, bekommen weniger als 5 Euro brutto die Stunde. Dieses Journalismus-Prekariat ist bei den Überregionalen fast doppelt so hoch wie bei den Regionalen, dort liegt der Anteil bei 4,8 Prozent.
            </p>

            <p class="text-box offset-2">
                Was ist der Grund? Ist der Rechercheaufwand bei den Überregionalen so hoch, dass weniger als 5 Euro brutto die Stunde bei unseren Leuten übrigbleiben? Oder liegt es am Aufwand der Nachbearbeitung, den vielen Korrekturschleifen?
                Wir haben darauf keine Antwort.
            </p>

            <h2 class="zwischentitel offset-3">Digital versus analog</h2>
            <p class="text-box offset-3">
                Wenn die Zukunft des Journalismus im Digitalen liegt, wollen wir wissen, was Freie dort verdienen – mit ihren Texten, Audio- und Videobeiträgen in allen Medien (also nicht nur im Lokalen). Die Funktion, dies im Honorartool einzutragen, ist dort allerdings optional, nicht alle Nutzer*innen haben sie verwendet. Daher reduziert sich die Anzahl der Dateneinträge auf 1284.
            </p>

            <style>
                #verbreitung div div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.401)"],
                #verbreitung div div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.402)"] {
                    display: none;
                }

                #verbreitung div[data-highcharts-chart="1"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.404)"],
                #verbreitung div[data-highcharts-chart="1"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.405)"],
                #verbreitung div[data-highcharts-chart="3"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.404)"],
                #verbreitung div[data-highcharts-chart="3"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.405)"],
                #verbreitung div[data-highcharts-chart="1"] div svg>text:nth-child(7),
                #verbreitung div[data-highcharts-chart="1"] div svg>text:nth-child(8),
                #verbreitung div[data-highcharts-chart="3"] div svg>text:nth-child(7),
                #verbreitung div[data-highcharts-chart="3"] div svg>text:nth-child(8),
                #verbreitung div[data-highcharts-chart="2"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.403)"],
                #verbreitung div[data-highcharts-chart="2"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.405)"],
                #verbreitung div[data-highcharts-chart="4"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.403)"],
                #verbreitung div[data-highcharts-chart="4"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.405)"],
                #verbreitung div[data-highcharts-chart="2"] div svg>text:nth-child(6),
                #verbreitung div[data-highcharts-chart="2"] div svg>text:nth-child(8),
                #verbreitung div[data-highcharts-chart="4"] div svg>text:nth-child(6),
                #verbreitung div[data-highcharts-chart="4"] div svg>text:nth-child(8),
                #verbreitung div[data-highcharts-chart="5"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.403)"],
                #verbreitung div[data-highcharts-chart="5"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.404)"],
                #verbreitung div[data-highcharts-chart="5"] div svg>text:nth-child(6),
                #verbreitung div[data-highcharts-chart="5"] div svg>text:nth-child(7),
                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.403)"],
                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.404)"],
                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg>text:nth-child(6),
                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg>text:nth-child(7) {
                    display: none !important;
                }

                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg g path.highcharts-plot-line[stroke="rgba(0,0,0,0.405)"],
                #verbreitung div[data-highcharts-chart="2"]+div[data-highcharts-chart="3"] div svg>text:nth-child(8) {
                    display: initial !important;
                }

            </style>

            <div id="verbreitung" style="width: 100%; min-width: 290px; max-width: 900px; margin: 0 auto"></div>
            <p class="text-box chart-description">
                Visualisiert sind 1284 Dateneinträge mit ihren Stundensätzen für Freie. Davon wurden 370 als "analog", 294 als "digital" und 620 als "analog & digital" kategorisiert. Die Standardabweichungen aller Kategorien rangieren zwischen 20,4 und 22,7. Entsprechend ist die Streuung ähnlich hoch verteilt.
            </p>

            <p class="text-box offset-2">
                Wir sehen auch hier einen Trend. Freie Journalist*innen, deren Beiträge nur <strong class="points">analog</strong> (in Print, Radio oder Fernsehen) verbreitet werden, haben statistisch höhere Brutto-Stundenhonorare. Der Median liegt bei 31,39 Euro. Dabei klafft die Schere ganz gewaltig auseinander: 23,2 Prozent der Freien unseres Honorartools, also fast ein Viertel, arbeitet analog für maximal 15 Euro, während 11,9 Prozent mehr als 55 Euro brutto die Stunde erzielen.
            </p>

            <p class="text-box offset-2">
                Bei den freien Journalist*innen, deren Inhalte ausschließlich <strong class="points">digital</strong> verbreitet werden, liegt der Median bei 28,13 Euro. Ein gutes Drittel der Freien (36 Prozent) arbeitet digital jedoch für höchstens 15 Euro brutto die Stunde.
            </p>

            <p class="text-box offset-2">
                Das Schlusslicht bilden die Kolleg*innen, die für <strong class="points">beide Kanäle</strong> produzieren. Obwohl sie ihren Auftraggeber*innen also die breiteste Ausspielung ermöglichen, rangiert der Median ihrer Brutto-Stundenhonorare bei 25,77 Euro und damit fast 20 Prozent unter denen der analog arbeitenden Kolleg*innen. Und ein knappes Viertel (24,9 Prozent) wird auch hier mit einem Taschengeld von höchstens 10 Euro brutto die Stunde abgefunden.
            </p>

            <h2 class="zwischentitel offset-3">Fazit: Investieren Sie, seien Sie mutig, zahlen Sie, ernten Sie!</h2>

            <p class="text-box offset-3">
                Wir hängen am Lokaljournalismus. Vier von sieben Freischreiber-Vorstandsmitgliedern haben dort ihre Wurzeln oder arbeiten für regionale Medien. So wie viele unserer Mitglieder. Dass diese Branche seit etlichen Jahren in der Krise steckt, nicht zuletzt dank der Ideen- und Mutlosigkeit ihrer Verlagshäuser, müssen vor allem die Freien ausbaden.
            </p>

            <p class="text-box offset-3">
                Statt in Qualität zu investieren und den Lokaljournalismus kräftig aufzuwerten, fällt den Teppich-Etagen kaum etwas anderes ein als: Marktmacht konzentrieren, an den Mitarbeiter*innen sparen und über das Anzeigengeschäft jammern, das ihnen unter den Fingern wegbricht. Und <em>irgendwie</em> ins Digitale drängen.
            </p>

            <p class="text-box offset-3">
                Bei freien Journalist*innen wird allerdings nicht gespart. Das heißt jetzt anders: Da wird gestrafft. Kurz nach Beginn des Corona-Lockdowns sagte der Sprecher der Funke Mediengruppe: Man habe die Freien-Honorare beim Mediahafen Hamburg nicht gestrichen, sondern „allenfalls gestrafft“. Das klingt dynamisch, so als müsse man ein lasches Gummi auf Spannung bringen.
            </p>

            <p class="text-box offset-2">
                Wo das Unternehmen allerdings – laut Eigenwerbung auf dem Weg zum besten nationalen Medienhaus Deutschlands – noch Straffungspotenzial sieht, wissen wir nicht. Dass es 2017 rund 1,257 Milliarden Euro umgesetzt und nach Steuern mehr als 18,2 Millionen Euro <a href="https://meedia.de/2019/01/03/auf-der-suche-nach-mehr-marktmacht-funke-liebaeugelt-nach-magazin-deals-mit-weiteren-uebernahmen">Gewinn</a> gemacht hat, dagegen schon.
            </p>

            <p class="text-box offset-2">
                Wir können den Lokaljournalismus nicht gesundbeten. Das ist auch nicht unser Job. Unsere Aufgabe ist es, für freie Journalist*innen einzutreten. Und klarzumachen, dass das, was so viele Freie im Lokalen mit ihrer professionellen Arbeit einnehmen, die Bezeichnung Honorar nicht verdient. Diese Leute sind keine Terminklopper, sondern Profis. Sie haben Expertise. Sie sind mutig, fleißig und ungeheuer belastbar. Man kann sie nicht bezahlen wie pensionierte Deutschlehrer*innen.
            </p>

            <p class="text-box offset-2">
                Ein Zubrot von 5 bis 10 Euro ist unvereinbar mit Qualität. Das sieht auch die Lokaljournalistin Anna Mayr so, die 2016 eine treffende <a href="https://www.ruhrbarone.de/warum-lokaljournalismus/133774">Analyse</a> ihrer Branche geschrieben hat:
            </p>

            <p class="text-box offset-3">
                „<em>Umsonst zu arbeiten, sich zu opfern, gilt immer noch als schick im Journalismus. Dabei ist es das, was die Branche umbringt auf die Dauer, denn gute Leute wollen zumindest ihre Miete zahlen können oder wenigstens das Gefühl, dass die Projekte, für die sie brennen, jemandem etwas wert sind.</em>“
            </p>


            <p class="text-box offset-2">
                Freie Journalist*innen sind Unternehmer*innen, sie wollen mehr bezahlen als ihre Miete. Sie wollen von ihrer Arbeit leben können. Warum sie trotzdem im Groschengrab Lokaljournalismus bleiben, hat vor allem mit ihrer Leidenschaft zu tun und dem Wissen, dass das, was sie tun, extrem wichtig ist.
            </p>

            <h2 class="zwischentitel offset-3">Democracy Dies in Darkness</h2>
            <p class="text-box offset-3">
                „Democracy Dies in Darkness“ lautet der Slogan der Washington Post, die Demokratie stirbt im Verborgenen. Und genau das geschieht hierzulande und überall, wenn der Lokaljournalismus ausgedünnt wird. Von 3143 Gemeinden in den USA haben knapp 200 überhaupt keine Zeitung mehr vor Ort. Sie sind „<a href="https://www.usnewsdeserts.com/reports/expanding-news-desert/loss-of-local-news/loss-newspapers-readers/">Nachrichtenwüsten</a>“. Was dort geschieht, erfährt niemand mehr aus professioneller Quelle. Das hat <a href="https://medium.com/office-of-citizen/how-we-know-journalism-is-good-for-democracy-9125e5c995fb">weitreichende Folgen</a>: Sterben lokale Blätter, verringert sich vor Ort das <a href="https://www.tandfonline.com/doi/full/10.1080/10584609.2012.762817">bürgerliche Engagement</a>, die <a href="https://journals.sagepub.com/doi/10.1177/1078087419838058">Wahlbeteiligung</a> schwindet.
            </p>

            <p class="text-box offset-3">
                Ideen, den Lokaljournalismus zu stärken, gibt es hierzulande zuhauf. Sie sind vor allem dem Engagement Einzelner zu verdanken: Der Chefredakteur des Mindener Tageblatts, Benjamin Piel, klingelte 2018 nach seinem Amtsantritt an 200 Türen der Bewohner*innen seines Verbreitungsgebiets. Er hörte seinen Leser*innen zu, schrieb 20 Kladden mit Gesprächsnotizen voll und verfasste 200 Artikel über seine Entdeckungstour. Oder die Freie Presse 2018 in Chemnitz: Nach den Gewaltausbrüchen in der Stadt suchte die Redaktion den Dialog mit den Bürger*innen, lud sie zu Workshops ein. Am Ende stand ein respektvoller Gesprächsaustausch trotz erheblicher Meinungsverschiedenheiten.
            </p>

            <p class="text-box offset-2">
                Es ist die Mut- und Ideenlosigkeit der Verlagsspitzen, die diese Branche tötet. Aber wir wollen ihr nicht beim Sterben zusehen. Wir wollen, dass Verleger*innen ihren Job ernst und Geld in die Hand nehmen, dass sie in ihre Produkte investieren und an sie glauben. Denn nicht der Journalismus ist das Problem. Gerade jetzt in der Corona-Krise hat er gezeigt, wie wichtig er ist und wie sehr nach ihm verlangt wird.
            </p>

            <p class="text-box offset-2">
                Sie sind das Problem, Herr Schoo (Funke Mediengruppe), Herr Ippen (Verlagsgruppe Ippen), Herr Döpfner (Axel Springer SE), Herr Wegner (Südwestdeutsche Medien Holding), Herr Bauer (DuMont Schauberg), Herr Düffert (Madsack) und alle Ihre Kolleg*innen, die darüber entscheiden können, ob dieses Land eine Nachrichtenwüste wird. Investieren Sie in einen starken Lokaljournalismus, seien Sie mutig (Sie sind Unternehmer*innen), zahlen Sie anständige Honorare, ernten Sie eine lebendige lokale Presse. Sie könnten sich einen Namen machen.
            </p>

            <br><br><br><br><br><br><br><br><br>

            <h2 class="zwischentitel offset-2">Über die Validität der Ergebnisse</h2>
            <p class="text-box offset-2">
                Die vorliegenden Daten geben einen Eindruck wieder, sind jedoch nicht repräsentativ.
                Die Gründe dafür sind zum Beispiel:
            </p>

            <p class="text-box offset-3">
                <span class="points">n(Datenspenden): </span>2064 Datenspenden sind ein guter Anfang. Angesichts von Zehntausenden deutscher Journalist*innen reichen sie aber noch lange nicht aus, um eine mathematisch repräsentative Stichprobe zu bekommen. <br>
                <span class="points">Online only: </span>Alle Daten wurden auf unserer Website <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> von Nutzer*innen gespendet. Das bedeutet, dass wir tendenziell keine Daten von Nutzer*innen haben, die nicht online sind. Es könnte also einen Bias zu jüngeren, digitalaffinen Journalist*innen geben.<br>
                <span class="points">Korrektheit: </span>Wir haben zwar Plausibilitätschecks, können aber nicht mit Sicherheit sagen, dass alle von Nutzer*innen gespendeten – und von uns verarbeiteten – Daten auch korrekt sind. Im Zweifel haben wir Daten gelöscht.<br>
                <span class="points">I ain’t perfect: </span>Und dann gibt es natürlich noch die Schwachstelle Mensch. Hat sich jede Nutzer*in richtig daran erinnert, wie viele Stunden ein Stück erfordert hat? Oder sind vielleicht netto und brutto vertauscht worden?
                <br><br>
                Wieder zum Anfang des Reports kommst du <a href="#start" class="smooth">hier</a>.
            </p>

            <p class="text-box chart-description">
                <sup id="1">1 </sup>Selbstständigen-Faustregel (gilt vor allem als Pi-mal-Daumen-Regel, um schnell zu kalkulieren, ist also ein grobes Instrument): Vom Brutto-Stundensatz wird etwa ein Drittel für die Steuer und die KSK zurückgelegt (auch an die Umsatzsteuer denken!), ein weiteres Drittel fließt in die Zeiten, in denen man nicht produziert (Recherchereisen, Akquise, Urlaub, Krankheit) sowie in die Arbeitsmittel (Büromiete, Buchhaltung etc.), das letzte Drittel verbleibt als Gewinn. <a href="#1-back" class="quote"><em>(zurück</em>)</a><br>
                <sup id="2">2 </sup>Dargestellt sind wie immer die gleitenden Mediane. Die Zufriedenheitswerte wurden in der Grafik getrennt ausgewiesen und nicht verrechnet.
                Medien, für die wir beispielsweise Stundensätze für Freie und Feste ausweisen, erscheinen folglich zweimal mit den unterschiedlichen Zufriedenheitswerten der Berufsgruppen. <a href="#2-back" class="quote"><em>(zurück</em>)</a><br>

            </p>

            <p class="text-box offset-3 bold" style="font-size: 0.6em">Bild (Katharina Jakob):<br>c/o David Ausserhofer/Robert Bosch Stiftung</p>
            <p class="text-box offset-3 bold" style="font-size: 0.6em">Bild (Oliver Eberhardt):<br>Oliver Eberhardt, Journalist und VG Wort-Experte</p>
            <p class="text-box offset-3 bold" style="font-size: 0.6em">Bild (Jens Eber):<br>Silja Kummer</p>

        </div>

        <!-- Social Share -->
        <div class="social-box social-box-abstand">
            <a target="_blank" href="https://twitter.com/intent/tweet?url=https://wasjournalistenverdienen.de&text=Was%20verdienen%20Journalisten?%20Die%20neue%20interaktive%20Datenbank%20der%20Freischreiber:">
                <div class="social social-1 socialtile"></div>
            </a>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://wasjournalistenverdienen.de">
                <div class="social social-2 socialtile"></div>
            </a>
            <a href="whatsapp://send?text=https://wasjournalistenverdienen.de">
                <div class="social social-3 socialtile"></div>
            </a>
            <a href="fb-messenger://share/?link=https://wasjournalistenverdienen.de&app_id=123456789">
                <div class="social social-4 socialtile"></div>
            </a>
            <a href="mailto:?subject=Interaktive Datenbank: Was verdienen Journalisten?&amp;body=Hallo, schau dir mal diese Seite an: https://wasjournalistenverdienen.de">
                <div class="social social-5 socialtile"></div>
            </a>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="footer-grid">
                <div class="footer-grid-first">
                    <a href="../../../static/honoradar/artikel/projekt.html">
                        <p class="footer-item-first footer-item clear-footer">Über das Projekt</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/credits.html">
                        <p class="footer-item clear-footer">Die Macher</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/reports.html">
                        <p class="footer-item clear-footer">Freischreiber-Report</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/methodik.html">
                        <p class="footer-item clear-footer">Methodik</p>
                    </a>
                </div>
                <div class="footer-grid-second">
                    <a href="../../../static/honoradar/artikel/newsletter.html">
                        <p class="footer-item-first footer-item clear-footer">Newsletter-Abo</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/datenschutz.html">
                        <p class="footer-item clear-footer">Datenschutz</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/kontakt.html">
                        <p class="footer-item clear-footer">Kontakt & Fragen</p>
                    </a>
                    <a href="../../../static/honoradar/artikel/impressum.html">
                        <p class="footer-item clear-footer">Impressum</p>
                    </a>
                </div>
            </div>
        </div>

    </main>


    <!-- Javascript -->

    <script src="../../../static/honoradar/js/vue.js"></script>
    <script src="../../../static/honoradar/js/lodash.js"></script>
    <script src="../../../static/honoradar/js/report-table-2020.js"></script>

    <script src="../../../static/honoradar/js/highcharts.js"></script>
    <script src="../../../static/honoradar/js/exporting.js"></script>
    <script src="../../../static/honoradar/js/data.js"></script>
    <script src="../../../static/honoradar/js/js-report-2020.js"></script>


    <script src="../../../static/honoradar/navbar/js/modernizr.js"></script>
    <script src="../../../static/honoradar/navbar/js/jquery-2.1.1.js"></script>
    <script src="../../../static/honoradar/navbar/js/main.js"></script>

</body>

</html>
