<!doctype html>

<html lang="de">

<head>
    <!-- Meta -->
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  	<meta name="date" content="2017-11-18">
	<meta name="robots" content="index,follow">
	
	<!-- Flavicon -->
	<link rel="shortcut icon" href="../../../static/favicon.ico">
	<link rel="shortcut icon" href="../../../static/favicon.png">
	<link rel="icon" type="image/png" href="../../../static/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../../../static/favicon.png" sizes="96x96">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon_apple_touch.png">
	<meta name="msapplication-TileImage" content="../../../static/favicon_msapplication.png">

    <!-- Style -->
    <link rel="stylesheet" href="../../../static/honoradar/css/style.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/style-sub.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/style-elements.css">
    <link rel="stylesheet" href="../../../static/honoradar/css/font.css">
    <link rel="stylesheet" href="../../../static/honoradar/navbar/css/reset.css">
    <link rel="stylesheet" href="../../../static/honoradar/navbar/css/style.css">
	<link rel="stylesheet" href="../../../static/honoradar/css/style-ranking-table.css">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Freischreiber-Report 2019">
    <meta name="twitter:description" content="Wer zahlt wie viel? Der Freischreiber-Report 2019 bringt Transparenz in die Löhne und Gehälter von Journalisten.">
    <meta name="twitter:url" content="https://www.wasjournalistenverdienen.de/static/honoradar/artikel/freischreiberreport-2019.html">
    <meta name="twitter:image" content="https://www.wasjournalistenverdienen.de/static/honoradar/image/freischreiberreport_2019.jpg">

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:locale" content="de_DE">
    <meta property="og:title" content="Freischreiber-Report 2019">
    <meta property="og:description" content="Welches Medium zahlt wie viel? Der Freischreiber-Report 2019 bringt Transparenz in die Löhne und Gehälter von Journalisten.">
    <meta property="og:url" content="https://www.wasjournalistenverdienen.de">
    <meta property="og:image" content="https://www.wasjournalistenverdienen.de/static/honoradar/image/freischreiberreport_2019.jpg">

    <!-- General SEO -->
    <meta name="author" content="Michel Penke">
    <meta name="title" content="Freischreiber-Report 2019">
    <meta name="description" content="Der Freischreiber-Report 2019 untersucht die Einkommenssituation von deutschen Journalisten">
    <meta name="keywords" content="Freischreiber,Report,2019,journalist,analyse,gehalt,lohn,honorar,auswertung,daten">

</head>

<body>
    <title>Freischreiber-Report 2019</title>

<!-- Navbar -->
    <a href="#cd-nav" class="cd-nav-trigger clear-fixed">Menu
		<span class="cd-nav-icon"></span>
		<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
		<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="24" cy="24" r="24" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
	</a>

    <div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
    <div class="cd-half-block">
    <h2 class="navtitle1">Navigation</h2>
        <nav>
        <ul class="cd-primary-nav">
            <li><a href="../../../" class="selected">Startseite</a></li>
            <li><a href="../../../static/honoradar/artikel/projekt.html">Über das Projekt</a></li>
            <li><a href="../../../static/honoradar/artikel/reports.html">Freischreiber-Report</a></li>
            <li><a href="../../../static/honoradar/artikel/newsletter.html">Newsletter</a></li>
            <li><a href="../../../static/honoradar/artikel/impressum.html">Impressum</a></li>
        </ul>
        </nav>
        </div>
    <div class="cd-half-block">
    <address>
	<ul class="cd-contact-info">
	<h2 class="navtitle2">Kontakt</h2>
	<li><a href="mailto:kontakt@freischreiber.de" class="clear-navi">kontakt@freischreiber.de</a></li>
	<li><a href="tel:04022867152" class="clear-navi">040 – 22 86 71 52</a></li>
	<li><a href="//maps.google.com/maps?q=Hoheluftchaussee+53A,+20253+Hamburg/" class="clear-navi" data-lity>
		<span>Büro Freischreiber e.V.</span>
		<span>Hoheluftchaussee 53a</span>
		<span>20253 Hamburg 24</span>
	</a></li>
	</ul>
	</address>
    </div>
    </div>
    </div>

<!-- Main -->
<main id="main">

<!-- Banderole -->
<div class="banderole" id="banderole"></div>

<!-- Text-Feld -->
	<div class="text-feld">

<!-- Titel-Box-->
	<h1 class="text-title">Freischreiber-Report 2019:<br>Wer verdient was?</h1>

<!-- Teaser -->
	<div class="teaser-box">
	Über Geld zu sprechen ist für freie Journalist*innen existenzentscheidend.
	Deshalb haben wir das Honorartool entwickelt, in das freie Kolleg*innen und Festangestellte ihre Honorare und Gehälter eintragen können – anonym, aber für alle einsehbar.
	Hier sind unsere ersten Erkenntnisse.
	</div>

<!-- Autorenbox -->
	<a href="https://www.torial.com/katharina.jakob">
	<div class="autoren-box autor-katharina offset-autorenbox" style="margin-bottom: 20px;">
	</div>
	</a><br>
	<a href="https://michelpenke.de">
	<div class="autoren-box autor-michel offset-autorenbox" style="margin-top: 20px;">
	</div>
	</a>

<!-- Text-Box -->
	<p class="text-box offset-2" id="start">
	Drei Monate haben wir Daten gesammelt, acht Wochen gerechnet und programmiert.
	Und dann mindestens noch mal so lange debattiert, ob die Zeit schon reif ist, mit dem Report an die Öffentlichkeit zu gehen.
	Denn unsere Zahlen sind nicht repräsentativ (mehr dazu <a href="#disclaimer">hier</a>).
	</p>
	<p class="text-box offset-2">
	Auch wenn bis Dezember vergangenen Jahres 1443 Datenspenden zu rund 580 Medien vorlagen, sind die Stichproben, verteilt auf die einzelnen Verlage, Redaktionen und Sender, schlicht noch zu gering, um sagen zu können:
	Hier wird immer anständig gezahlt und da nie.
	</p>

	<p class="text-box offset-2">
	Aber es stecken ein paar aufschlussreiche Informationen in diesen frühen Daten, die wir euch nicht vorenthalten wollen.
	Wir sehen nun die enorme Bandbreite journalistischer Bezahlung mit eigenen Augen. Und können endlich Honorare vergleichen, was uns beim Verhandeln ungemein hilft.
	Jetzt lässt sich überprüfen, ob das Argument „Mehr haben wir noch nie gezahlt“ auch tatsächlich zutrifft. Deshalb unsere dringende Bitte:
	<a href="https://www.wasjournalistenverdienen.de">Spendet weiterhin Daten!</a>
	Tragt alle Honorare ein, die ihr erhalten habt.
	Je mehr Kolleg*innen sich beteiligen, desto schlagkräftiger wird unser Werkzeug und desto besser verhandeln wir.
	</p>

	<h2 class="zwischentitel offset-3">Honorare nach Umfang oder Zeitaufwand</h2>
	<p class="text-box offset-3">
	Wir haben auf <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> die Einkünfte von Freien, Festangestellten und Pauschalist*innen auf zweierlei Art gesammelt:
	einmal nach Umfang eines Beitrags (Zeichen oder Audio-/Video-Minuten) und einmal nach geschätztem Zeitaufwand (Stunden).
	Letzteres vor allem, weil wir eine Vergleichsmöglichkeit zu den Einkünften der Festangestellten und der Pauschalist*innen schaffen wollten.
	Aber auch, weil der zeitliche Aufwand darüber mitentscheidet, ob sich ein Auftrag für Freischaffende rechnet oder nicht.
	</p>

	<p class="text-box offset-3">
	Allerdings hat die Zeitabfrage ihre Schwächen, weil es sich bei den Stundeneingaben um höchst subjektive Einschätzungen handelt.
	Die Gefahr von Verzerrungen ist hoch. Man muss seinen Arbeitsaufwand im Nachhinein einschätzen, und dabei rechnet man sich vielleicht die Situation schön.
	Etwa wenn man länger an einem Text gesessen hat, als wirtschaftlich vertretbar gewesen wäre.
	</p>

	<h2 class="zwischentitel offset-2">Wer zahlt wie viel?</h2>
	<p class="text-box offset-2">
	Bis Ende Dezember 2018 hatten wir 1443 Datenspenden bekommen:
	1005 von freien Journalist*innen (69 %), 321 von Festangestellten (22 %) und 117 von Pauschalist*innen (8 %)<a href="#1"><sup id="1-back">1</sup></a>.
	Zwar kann man schon seit vergangenen Oktober auf <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> sehen, welche mittleren Honorare einzelne Redaktionen zahlen.
	Eine Übersicht fehlte jedoch bisher.
	Deswegen haben wir alle vorliegenden Daten verrechnet und nun eine alphabetische Liste erstellt.
	</p>

	<p class="text-box offset-2">
	In dieser Liste haben wir die Honorare von Freiberufler*innen für Artikel, Audio- und Videostücke dargestellt, zumindest wenn wir mindestens fünf Datensätze als Grundlage hatten.
	Die eingetragenen Honorare sind – wie gesagt – alle nicht repräsentativ.
	Wir haben sie jedoch bei Kolleg*innen gegengecheckt, die frei für diese Medien arbeiten.
	Datenspenden mit starken Ausreißern haben wir ausgeschlossen.
	Texthonorare werden in der Spalte „Honorare pro 1.000 Zeichen“ dargestellt.
	Wir errechneten dabei jedoch nicht das arithmetische Mittel, also den Durchschnitt, sondern den sogenannten gleitenden Median.
	Hier erfahrt ihr mehr über unsere <a href="../../../static/honoradar/artikel/methodik.html">※ Methodik</a> und wie wir unsere Werte berechnen.
	</p>

	<p class="text-box offset-3">
	Audio- und Videohonorare findet ihr in den Spalten „Honorar pro Audiominute“ und „Honorar pro Videominute“.
	Das meint also das gemittelte Honorar, das Journalist*innen pro produzierte Minute ihrer Podcasts oder Videos bekommen.
	Außerdem zeigt unsere Aufstellung, wie zufrieden freie Kolleg*innen mit der redaktionellen Zusammenarbeit waren und wie viele Datenspenden uns pro Medium vorlagen.
	Mit einem Klick auf die Spaltenüberschriften lässt sich die Liste neu sortieren.
	Klickt ihr zum Beispiel auf „Zufriedenheit“, erfahrt ihr, mit welchem Medium freie Journalist*innen statistisch gern zusammenarbeiten. Je höher der Wert, desto besser.
	</p>

	<div id="ranking">
		<div class="search">
			<div class="icon">
				<div class="circle"></div>
				<div class="bar"></div>
			</div>
			<div class="search-input">
				<input type="text" placeholder="Suche ..." v-model="searchQuery">
			</div>
		</div>
		<div class="table-container">
			<div class="thead">
				<div @click="sort('name','desc')" class="thead-item thead-item_1">Medium</div>
				<div @click="sort('zufriedenheit_frei','desc')" class="thead-item thead-item_2">Zufrieden<span class="seperator_1">-<br></span>heit</div>
				<div @click="sort('geld_text','asc')" class="thead-item thead-item_3">Honorar pro<br>1.000 Zeichen</div>
				<div @click="sort('geld_audio','asc')" class="thead-item thead-item_4">Honorar pro<br>Audio<span class="seperator_3">-<br></span>minute</div>
				<div @click="sort('geld_video','asc')" class="thead-item thead-item_5">Honorar pro<br>Video<span class="seperator_3">-<br></span>minute</div>
				<div @click="sort('amount','desc')" class="thead-item thead-item_6">Daten<span class="seperator_2">-<br></span>spenden</div>
			</div>
			<table>
				<tbody name="fade-list" is="transition-group">
					<tr v-for="media in filteredBySearch" :key="media.name">
						<td >{{media.name}}</td>
						<td >{{media.zufriedenheit_frei}}</td>
						<td ><i v-if="media.geld_text>0">{{media.geld_text}} €</i></td>
						<td ><i v-if="media.geld_audio>0">{{media.geld_audio}} €</i></td>
						<td ><i v-if="media.geld_video>0">{{media.geld_video}} €</i></td>
						<td ><i v-if="media.amount>0"></i>{{media.amount}}</td>
					</tr>
				</tbody>
			</table>
			<div class="warning" v-if="filteredBySearch.length<=0">
				<span>Kein Ergebnisse gefunden.</span>
			</div>
		</div>
	</div>

	<p class="text-box chart-description" >
	Anders als bei uns auf der Website sind in die Liste nur Medien mit mindestens fünf Datenspenden im Bereich "Freie Journalist*innen" eingeflossen.
	Audio- und Videominute meinen das Honorar, das eine Redaktion gemittelt für eine produzierte Minute Podcast oder Video zahlt.
	Alle Werte sind gleitende Mediane (siehe <a href="../../../static/honoradar/artikel/methodik.html">※ Methodik</a>).
	Der Stichtag der Datenerhebung war – anders als bei den anderen Grafiken – der 30.05.2019.
	</p>

	<p class="text-box offset-2">
	Geo, Brand Eins, P.M. und der Stern erreichen Werte deutlich über 100 Euro pro 1.000 Zeichen.
	Tageszeitungen wie die WAZ oder die taz, aber auch die dpa liegen hingegen am unteren Ende der Skala.
	Erstaunlicherweise finden sich selbst in diesem Bereich Zufriedenheitschampions: So ist die Jungle World bei ihren Autoren auffallend beliebt trotz extrem geringer Zeichenhonorierung.
	Im Audio-Bereich bezahlt der Deutschlandfunk bislang am besten, im Video-Bereich liegen nur bei zwei öffentlich-rechtlichen Redaktionen fünf Datenspenden vor.
	</p>

	<p class="text-box offset-3">
    In der nachfolgenden Grafik sind alle Medien, zu denen uns mindestens drei Datenspenden pro Berufsgruppe (Freie, Pauschalist*innen, Feste) vorlagen, nach Zufriedenheit und Stundenhonorar dargestellt<a href="#2"><sup id="2-back">2</sup></a>.
	Allerdings ist sie aufgrund unserer nicht repräsentativen Zahlen nur als Experiment gedacht. Wir wollten mal wissen, was dabei herauskommt, wenn man nicht nur aufs Geld schaut.
	</p>

	<p class="text-box offset-3">
	<strong class="points">Kleine Lesehilfe:</strong> Medien, die oben rechts stehen, zahlen am besten und bekommen hohe Zustimmungswerte. Medien, die unten rechts stehen, zahlen eher schlecht, sind aber dennoch beliebt.
	Und unten links haben wir Kandidaten für den <a href="https://www.freischreiber.de/positionen/himmel-und-hoelle-preis/" target="_blank">Hölle-Preis</a>:
	Medien, die schlecht zahlen und mit denen Journalist*innen nicht zufrieden sind.
	Wenn ihr mit der Maus über die Punkte fahrt oder sie auf einem Touchscreen berührt, färben sie sich ein.
	Grün steht für Freiberufler*innen, Blau für Pauschalist*innen und Orange für Festangestellte.
	</p>


	<div id="zufriedenheitvslohn" style="max-width: 85%; height: 600px; max-width: 1200px; margin: 0 auto"></div>
	<p class="text-box chart-description">
	Visualisiert sind 115 Medien mit ihren Stundensätzen, getrennt für Freie, Pauschalist*innen und Feste, wenn mindestens drei Datenspenden vorlagen.
	Die Zufriedenheitswerte von Freien, Pauschalist*innen und Festen sind nicht zu einem gemeinsamen Wert verrechnet, sondern getrennt dargestellt.
	Die Spanne reicht von 1 (= am schlechtesten) bis 9 (= am besten) und ist hier aus UX-Gründen verkürzt dargestellt.
	Grün = Freiberufler*innen, Blau = Pauschalist*innen, Orange = Festangestellte
	</p>

	<p class="text-box offset-2">
	Manche Medien, die wenig zahlen wie das Missymagazin, die taz oder Jungle World, erhalten hohe Zustimmungswerte bei Freien und Pauschalist*innen, während z. B. Merian mit einem deutlich höheren Stundensatz nur auf einen Zufriedenheitswert von 6,3 bei Freien kommt.
	</p>

	<h2 class="zwischentitel offset-3">Ist Zufriedenheit eine Währung?</h2>
	<p class="text-box offset-3">
	Bei unserem <a href="https://www.freischreiber.de/aktuelle/himmel-preisubergabe-an-impulse/">Himmelpreisträger</a> vom vergangenen Jahr, dem Wirtschaftsmagazin Impulse, haben wir die wertschätzende Haltung gelobt, die die Redaktion ihren Freien gegenüber einnimmt.
	Journalist*innen werden dort partnerschaftlich und auf Augenhöhe behandelt. Das ist wunderbar und kommt immer noch zu selten vor.
	Doch nur für warme Worte hätte die Redaktion den Himmelpreis nicht erhalten. Der partnerschaftliche Umgang ist kein Ersatz für die erste aller Wertschätzungen: ein faires Honorar.
	Und so lässt uns diese Infografik „Wo wird gern gearbeitet und gut gezahlt?“ ratlos zurück:</p>

	<p class="text-box offset-3">
	Was ist da los? Handelt es sich bei den extremen Dumpinghonoraren um Zweit- oder Drittverwertungen bei einer liebenswerten Redaktion?
	Oder wird da ein Medium so gemocht, dass man auch kostenlos dafür arbeiten würde?
	Die intrinsische Motivation von Journalist*innen, ihre große innere Verbundenheit mit dem Beruf kann ein Problem sein, hat Thomas Schnedler herausgefunden, Journalist und Programmleiter bei Netzwerk Recherche.
	Schnedler hat eine Doktorarbeit mit dem Titel „Prekäre Arbeit im Journalismus“ geschrieben, die demnächst veröffentlicht wird.
	Verlage können die Hingabe von hochmotivierten Autor*innen ausnutzen, und nicht wenige tun genau das. Wie die Kommentare im Honorartool zeigen:
	</p>

	<p class="text-box offset-2">
	„<em>Die Tagessätze schwanken zwischen 80 + 100 Euro inkl. Fahrtkosten. Für 100 Euro sollten mindestens zwei Aufmacher am Tag drin sein, manchmal auch inkl. Foto.</em>“
	</p>

	<p class="text-box offset-2">
	„<em>Honorare für Freie wurden schon des Öfteren mal ,vergessen‘ und kamen erst auf Nachfrage Monate später.</em>“
	</p>

	<p class="text-box offset-2">
	„<em>Bericht von einem Gerichtstermin – Vergütung für den Text weniger als 30 Euro, dazu noch eine Meldung für 15 Euro = Lohn für knapp einen Arbeitstag... Zusammenarbeit rasch beendet!</em>“
	</p>

	<p class="text-box offset-3">
	Auffällig ist, dass die Stundensätze von Freien etwa doppelt so stark streuen wie die von Pauschalist*innen und Festangestellten<a href="#3"><sup id="3-back">3</sup></a>.
	Das heißt, es muss unter den Freien einige geben, die deutlich mehr oder besonders wenig verdienen.
	Über alle Medien hinweg lag der Bruttostundensatz<a href="#4"><sup id="4-back">4</sup></a> freier Journalist*innen bei 22,50 Euro, für Pauschalist*innen bei 25,00 Euro und für Festangestellte bei 21,88 Euro.
	Wobei nicht vergessen werden darf, dass bei Freien nur etwa ein Drittel vom Honorar als Gewinn bleibt. 
	</p>

	<p class="text-box offset-3">
	Damit ähneln unsere Zahlen jenen, die der djv 2014 per Umfrage ermittelt hat.
	In seinem <a href="https://www.djv-nrw.de/startseite/info/beruf-betrieb/freie-journalisten/freienumfrage1.html">Zwischenbericht</a> zur Einkommenssituation freier Journalist*innen heißt es auf Seite 4:
	„Männer verdienen im Durchschnitt 2.440 Euro bei rund 44 Stunden in der Woche (rund 14 Euro Nettogewinn pro Stunde), Frauen 1.895 Euro bei rund 39 Stunden (rund 11 Euro Nettogewinn pro Stunde).
	Das Bruttohonorar pro Stunde dürfte damit (unter Annahme des Betriebsausgabenanteils von 30 Prozent) für die Männer im Durchschnitt bei rund 23 Euro pro Stunde liegen, für Frauen bei rund 18 Euro.“
	</p>


	<h2 class="zwischentitel offset-2">Wie verteilen sich die Gehälter?</h2>
	<p class="text-box offset-2">
	Nachdem wir uns die Honorare freier Journalist*innen angeschaut haben, wenden wir uns den Einkünften ihrer festangestellten oder für Pauschalen arbeitenden Kolleg*innen zu.
	Visualisieren wir die Einkommen nach Höhe, ergibt sich folgende Verteilung.
	</p>

	<p class="text-box offset-2">
		<strong class="points">Kleiner Tipp:</strong> Um die genauen Werte abzulesen, fahrt mit der Maus über die Infografik bzw. berührt sie auf einem Touchscreen.
	</p>

	<div id="verteilung" style="width: 100%; min-width: 290px; height: 600px; max-width: 900px; margin: 0 auto"></div>
	<p class="text-box chart-description">
	Anders als in den vorangegangenen Visualisierungen liegt die Anzahl n der genutzten Datensätze in dieser und einigen der folgenden Visualisierungen bei bis zu 1443.
	Da keine Verknüpfung zwischen Datenspende und Medium mehr gegeben ist, entfällt die Mindestgrenze von drei Datenspenden pro Medium.
	</p>

	<p class="text-box offset-3">
	Wie wir sehen, streuen die Einkünfte von Pauschalist*innen stärker als jene der Festangestellten.
	Insbesondere ab der Schwelle von 4500 Euro pro Monat sinkt der Anteil der Festangestellten schnell drastisch ab.
	Bei den Pauschalist*innen verdient immerhin noch rund ein Drittel mehr.
	Allerdings arbeiten auch etwas mehr Pauschalist*innen im unteren Bereich zwischen 1500 bis 2500 Euro. Mehr als 20 Prozent verdienen weniger als 2500 Euro.
	Bei den Festen sind es 18 Prozent. Gemittelt ergibt sich ein durchschnittliches Bruttoeinkommen von 4000 Euro für Pauschalist*innen und 3500 Euro für Festangestellte<a href="#5"><sup id="5-back">5</sup></a>.
	</p>

	<p class="text-box offset-3">
	Doch wer gehört zu den Besserverdienenden? Was ist der entscheidende Grund für die erheblichen Einkommensunterschiede?
	Ist es Erfahrung? Die kurze Antwort: ja. Und wie!
	</p>

	<p class="text-box offset-3">
	Die ausführlichere: Zuerst unterteilen wir die Median-Monatseinkommen in drei Gruppen nach Erfahrung<a href="#6"><sup id="6-back">6</sup></a>.
	Dabei gilt als Journalist*in mit „geringer Erfahrung“, wer weniger als fünf Jahre Arbeitserfahrung hat.
	Wer unter zehn Jahren mit dabei ist, hat „mittlere Erfahrung“. Ab zehn Jahren gehört man zu den Veteran*innen der Branche.
	</p>

	<div id="erfahrungvslohn" style="width: 100%; height: 600px; max-width: 1200px; margin: 0 auto"></div>
	<p class="text-box chart-description">
	Die Werte für "Insgesamt" sind zu gleichen Anteilen von "Freiberufler*innen", "Pauschalist*innen" und "Festangestellte" normiert, um eine Verzerrung durch ein Übergewicht von "Freien"-Werten zu verhindern.
	</p>

	<p class="text-box offset-3">
	Mit Ausnahme eines kleinen Schluckaufs bei den Pauschalist*innen zeigt sich deutlich, dass in allen drei Gruppen Erfahrung honoriert wird. Und zwar erheblich.
	Wer die mageren, ersten Jahre also durchsteht, kann statistisch auf bessere Zeiten hoffen<a href="#7"><sup id="7-back">7</sup></a>.
	Besonders prekär lebt es sich also als freie Berufseinsteiger*in. Vergessen sollte man dabei nicht, dass die abgebildeten Werte Medianhonorare sind.
	In der Realität ist dort noch viel Raum nach unten.
	</p>

	<p class="text-box offset-3">
	Bei den Festangestellten zeigt sich der wachsende Verdienst erwartungsgemäß auch, wenn wir nicht auf Arbeitserfahrung, sondern auf die Jobposition schauen:
	So verdienen Volontär*innen den Medianlohn<a href="#8"><sup id="8-back">8</sup></a> von 1800 Euro pro Monat.
	Darauf folgen Redakteur*innen mit 3700 Euro und Ressortleiter*innen mit 4800 Euro, während CvDs mit 4300 Euro nach Hause gehen.
	</p>

	<p class="text-box offset-3">
	Nachdem sich bei dem Blick auf die Gehaltsentwicklung die nicht ganz überraschende Erkenntnis bestätigt hat, dass alte Hasen wissen, wo die dicksten Karotten wachsen,
	betrachten wir nun die Zufriedenheit im Laufe des Berufslebens. Als Grundlage dienen uns erneut die Erfahrungsgruppen.
	</p>

	<div id="erfahrungvszufriedenheit" style="width: 100%; height: 600px; max-width: 1200px; margin: 0 auto"></div>
	<p class="text-box chart-description">
	Die Werte für "Insgesamt" sind zu gleichen Anteilen von "Freiberufler*innen", "Pauschalist*innen" und "Festangestellte" normiert, um eine Verzerrung durch ein Übergewicht von "Freien"-Werten zu verhindern.
	</p>

	<p class="text-box offset-3">
	Innerhalb aller und auch zwischen den drei Berufsgruppen schwanken die Zufriedenheitswerte. Allerdings sind die Differenzen so marginal, dass man von einer stabilen Entwicklung sprechen kann.
	Es macht also keinen Unterschied für die tägliche Zusammenarbeit, wie lange man dabei ist und ob man einen Boss hat oder nicht.
	</p>

	<!--

	<p class="text-box offset-3">
	Doch was, wenn man der Boss ist? Steigt die Zufriedenheit beim Erklimmen des Karrieregipfels?
	</p>

	<p class="text-box offset-2">
	Statt nach der Arbeitserfahrung unterteilen wir nun nach der Jobbeschreibung, die wir nur bei Pauschalisten und Festen erhoben haben.
	64 Prozent der Datenspender, die eine Jobbezeichnung eintrugen<a href="#7"><sup id="7-back">8</sup></a>, bezeichneten sich selbst als Redakteur.
	Sechs Prozent waren Volontäre, vier Prozent Ressortleiter und drei Prozent CvDs. Etwas über ein Prozent outeten sich als Chefredakteur.
	Die Fallzahl der letzten Gruppen ist also relativ klein, was eine statistisch belastbare Aussage unmöglich macht.
	Betrachte die nachfolgende Grafik also mit der mathematisch gebotenen Skepsis.
	</p>

	<div id="positionvszufriedenheit" style="width: 100%; height: 600px; max-width: 1200px; margin: 0 auto"></div>
	<p class="text-box chart-description">
	Der Wert für "Insgesamt" stellt das ungewichtete Arithmetische Mittel dar.
	</p>

	<p class="text-box offset-3">
	Um im Bild des Karrieregipfels zu bleiben: Es scheint eher ein Tal der Tränen zu sein, das durchschritten werden muss – hier <del>geo</del>grafisch durch den orangefarbenen Strich hervorgehoben.
	Nach dem Einstieg als begeisterter Volontär sinkt die Zufriedenheit auf dem Weg zum Ressortleiter und steigt dann über den CvD-Posten hin zum Chefredakteur wieder an.
	Diskutabel ist allerdings, ob in allen Redaktionen CvDs über Ressortleitern stehen.
	Und, um es noch einmal zu betonen: Die Anzahl, der uns zur Verfügung stehenden Werte bei den hohen Posten, ist leider statistisch nicht ausreichend, um verlässliche Aussagen zu machen.
	</p>

	-->

	<h2 class="zwischentitel offset-2">Womit verdienen freie Journalist*innen am meisten Geld?</h2>

	<p class="text-box offset-2">
	Dafür betrachten wir vier Aspekte: die Verbreitung, das Format, die Produktionsdauer und die Gattung.
	</p>

	<p class="text-box offset-2">
	Bei der <strong class="points">Verbreitung</strong> gaben unsere Datenspender*innen an, ob ihre Werke digital, analog oder auf allen Kanälen an das Publikum herangetragen wurden.
	Am schlechtesten honoriert wurden Artikel, Videos und Audios, die sowohl online als auch in Print, Radio oder TV liefen. Der Medianstundensatz<a href="#9"><sup id="9-back">9</sup></a> liegt bei 20,20 Euro.
	Darauf folgen rein digitale Produkte, die mit 22,36 Euro pro Stunde vergütet wurden. Bei rein analogen Stücken erhielten die Journalist*innen ein Honorar von 25 Euro in der Stunde.
	Medien mit klarem On- oder Offline-Fokus zahlen also besser.
	</p>

	<p class="text-box offset-3">
	Noch größeren Einfluss auf das Stundenhonorar hat das <strong class="points">Format</strong>. So erhielten freie Text-Journalist*innen einen Medianstundensatz<a href="#10"><sup id="10-back">10</sup></a> von 21,88 Euro.
	Freie Audio-Journalist*innen überflügelten sie um fast ein Viertel und erreichten 27,00 Euro. Freiberufliche VJs kommen auf 37,50 Euro pro Stunde.
	</p>

	<p class="text-box offset-3">
	Als Nächstes schauen wir, ob lange, aufwendige Stücke besser pro Stunde honoriert werden als kurze, schnell produzierte.
	Lohnt es sich für Freie, auf journalistische Produkte mit langer <strong class="points">Produktionsdauer</strong> zu setzen?
	</p>

	<div id="zeitvslohn" style="width: 100%; height: 600px; max-width: 1200px; margin: 0 auto"></div>

	<p class="text-box offset-2">
	Um es kurz zu machen: Es ist egal. Laut unseren Daten gibt es keinen statistisch signifikanten Unterschied beim Stundenhonorar für Stücke mit langer und kurzer Produktionsdauer.
	Das lange Erzählstück bringt statistisch ähnlich viel Geld pro Stunde wie die schnell getextete Meldung.
	</p>

	<p class="text-box offset-2">
	Als vierten und letzten Punkt haben wir die <strong class="points">Gattung</strong> und ihre Auswirkung auf den Stundensatz untersucht.
	Dabei zeigt sich nicht ganz unerwartet, dass es einen erheblichen Unterschied macht, ob ein Feature oder eine Rezension in Auftrag gegeben wurde.
	Für Features bekamen freie Journalist*innen pro Stunde 29,89 Euro, für Filmkritiken 28,89 Euro und für gebaute Beiträge 24,54 Euro.
	Darauf folgen Analysen mit 22,83 Euro und Porträts mit 21,43 Euro, Reportagen mit 20,83 Euro, Berichte mit 17,66 Euro, Interviews mit 16,46 Euro und schlussendlich Buchrezensionen mit 14,29 Euro.
	Allerdings müssen wir hier darauf hinweisen, dass es sehr viele Einträge gab, in denen die Angaben zur Gattung widersprüchlich waren. Mal fehlte die Angabe, mal wurde ein Stück in mehrere Kategorien zugleich eingeordnet.
	Entsprechend konnten wir nur einen Bruchteil der Daten daraufhin auswerten, und entsprechend vorsichtig muss insbesondere dieser Teil der Analyse gesehen werden.
	</p>

	<p class="text-box offset-3">
	Zusammenfassend die wichtigsten Learnings:
	</p>
	<p class="text-box offset-3">
	<span class="points">Einkommensverteilung: </span>Die Einkommen von Pauschalist*innen sind ungleicher verteilt als die der Festangestellten. Die Honorare der Freien streuen noch stärker. <br>
	<span class="points">Arbeitserfahrung: </span>Wer länger im Journalismus arbeitet, erzielt bessere Honorare oder Gehälter. Vor allem die freien Journalist*innen.<br>
	<span class="points">Zufriedenheit: </span>Bislang gibt es keinen statistischen Zusammenhang zwischen Arbeitserfahrung und Zufriedenheit. Den verbitterten Content-Schubser haben wir in den Daten nicht gefunden. <br>
	<span class="points">Streuung: </span>Guter Journalismus sollte überall ähnlich viel wert sein. Ist er aber nicht. Und es ist vielerorts ziemlich düster.
	</p>

	<h2 class="zwischentitel offset-3">Die gute Nachricht, die schlechte Nachricht ...</h2>
	<p class="text-box offset-3">
	Es gibt sie, die Guten. Auffällig oft findet man fair zahlende Medien unter den Freischreiber-Himmelpreis-Trägern oder den Nominierten der vergangenen Jahre.
	Diese Redaktionen zahlen nicht nur angemessene Honorare, sondern pflegen auch einen respektvollen Umgang mit ihren freien Journalist*innen.
	Wir sind froh, dass es sie gibt. Sie zeigen uns, dass wir nichts Unmögliches fordern: gute Ware gegen gutes Geld.
	</p>

	<p class="text-box offset-3">
	Nun die schlechte Nachricht. Sie ist nicht neu, wurde uns aber durch das Honorartool noch einmal brutal vor Augen geführt.
	Ganz generell ist freier Journalismus in einer Weise unterbezahlt, dass wir uns fragen, wovon die Kolleg*innen da draußen eigentlich leben. Und vor allem: wie.
	</p>

	<p class="text-box offset-2">
	Ihr Stundenhonorar liegt im Mittel bei 22,50 Euro brutto.
	Eine Faustregel besagt: Davon fließt ein Drittel in die Steuer, ein weiteres Drittel in die Arbeitsmittel (Büromiete, berufliche Anschaffungen, Recherchereisen), das letzte Drittel bleibt als Gewinn.
	Freie Kolleg*innen behalten also 7,50 Euro pro Stunde für sich.
	</p>

	<p class="text-box offset-2">
	Und die Bezahlung nach Umfang? Das gemittelte Zeichenhonorar aller Medien, die ins Honorartool eingegeben wurden, liegt derzeit bei 40 Euro pro 1000 Zeichen.
	Das bedeutet: Für einen Text, der 10.000 Zeichen lang ist, gibt es im Mittel 400 Euro brutto.
	Nur ein paar Leuchtturm-Redaktionen bezahlen deutlich mehr (zum Teil das Vierfache und darüber hinaus) und heben so den Schnitt an.
	Ohne sie sähe es noch finsterer aus: So entlohnt eine regionale Tageszeitung 10.000 Zeichen mit 120,13 Euro brutto. Ernsthaft.
	</p>

	<p class="text-box offset-3">
	Wie viele Tage sitzt man an einem Artikel dieser Länge? Oder anders gefragt:
	Welche Qualität steht da am Ende, wenn man die Sache wirtschaftlich angeht – was hieße, nicht mehr als einen halben Tag Zeit dafür aufzuwenden?
	„Redaktion erwartet maximale Leistung bei maximal schlechter Bezahlung“, lautet ein Kommentar zu einer Datenspende.
	Und wenn die freien Kolleg*innen mehr Zeit reinstecken, weil sie sonst mit ihrer Arbeit nicht zufrieden sind – was bleibt ihnen außer Burn-out und Frust?
	</p>

	<p class="text-box offset-3">
	Der Abschied. Von der Gefahr eines Braindrains qualifizierter Kräfte schreibt Thomas Schnedler in seiner Doktorarbeit.
	Einige Journalist*innen seiner Befragung hatten den Beruf bereits verlassen oder zogen dies zumindest ernsthaft in Erwägung, sie machten Werbung oder etwas komplett anderes.
	„Es zeigt sich“, so Schnedler, „dass sich die Bindungen der Journalisten an ihren Beruf verflüssigen.“
	Das ist eine erstaunliche Nachricht, wo doch just diese Bindungen einmal so stark waren.
	</p>

	<h2 class="zwischentitel offset-2">... und unsere Empfehlung</h2>
	<p class="text-box offset-2">
	Wir Freischreiber sind ja in der Regel ausdauernde Optimist*innen.
	Was mies ist, werden wir zum Guten verändern, zumindest versuchen wir das hartnäckig.
	Aber es gibt Grenzen, darunter wird es unappetitlich.
	Ein Honorar von 40 Euro pro 1000 Zeichen und weit darunter, ein Brutto-Stundensatz von 22,50 Euro – das ist widerwärtig.
	Davon sollten Journalist*innen nicht leben müssen. Und es auch gar nicht erst versuchen.
	</p>

	<p class="text-box offset-2">
	Deshalb lautet unsere Empfehlung an unsere freien Kolleg*innen: Verlasst diese Buden, arbeitet nicht für sie!
	Unterstützt nicht länger Verlage, die euch ausnehmen wie Weihnachtsgänse.
	Ihr freien Journalist*innen mit eurem Können, eurer Hingabe und eurer Energie, euch haben diese Läden nicht verdient.
	</p>

	<h2 class="zwischentitel offset-3" id="disclaimer">Über die Validität der Ergebnisse</h2>
	<p class="text-box offset-3">
	Die vorliegenden Daten geben einen Eindruck, sind jedoch nicht repräsentativ.
	Die Gründe dafür sind zum Beispiel: <br><br>
	<span class="points">n(Datenspenden): </span>Rund 1500 Datenspenden sind ein guter Anfang.
	Angesichts von Zehntausenden deutscher Journalist*innen reichen sie aber noch lange nicht aus, um eine mathematisch repräsentative Stichprobe zu bekommen.  <br>
	<span class="points">Online only: </span>Alle Daten wurden auf unserer Website <a href="https://www.wasjournalistenverdienen.de">wasjournalistenverdienen.de</a> von Nutzer*innen gespendet.
	Das bedeutet, dass wir tendenziell keine Daten von Nutzer*innen haben, die nicht online sind. Es könnte also einen Bias zu jüngeren, digitalaffinen Journalist*innen geben.<br>
	<span class="points">Korrektheit: </span>Wir haben zwar Plausibilitätschecks, können aber nicht mit Sicherheit sagen, dass alle von Nutzer*innen gespendeten – und von uns verarbeitenden – Daten auch korrekt sind.
	Im Zweifel haben wir Daten gelöscht.<br>
	<span class="points">I ain’t perfect: </span>Und dann gibt es natürlich noch die Schwachstelle: Mensch. Hat sich jede Nutzer*in richtig daran erinnert, wie viele Stunden ein Stück erfordert hat? Oder sind netto und brutto vertauscht worden?
	<br><br>
	Wieder zum Anfang des Report kommst du <a href="#start" class="smooth">hier</a>.
	</p>

	<p class="text-box chart-description">
	<sup id="1">1 </sup>Der Stichtag für die Datengrundlage der Infografiken ist der 16.01.2019. Für die Tabelle wurde der 30.05.2019 als Stichtag gewählt. <a href="#1-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="2">2 </sup>Dargestellt sind wie immer die gleitenden Mediane. Die Zufriedenheitswerte wurden in der Grafik getrennt ausgewiesen und nicht verrechnet.
	Medien, für die wir beispielsweise Stundensätze für Freie und Feste ausweisen, erscheinen folglich zweimal mit den unterschiedlichen Zufriedenheitswerten der Berufsgruppen.
	<a href="#2-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="3">3 </sup>Die Standardabweichung war bei den Freien mit 20,62 fast doppelt so hoch wie bei den Pauschalist*innen mit 13,09 und den Festen mit 10,97.
	Statistisch war dieser Unterschied signifikant. <a href="#3-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="4">4 </sup>Berechnet wurde der gleitende Median der Stundensätze.
	Das arithmetische Mittel des Stundenhonorars der Freien lag mit 27,87 Euro neun Prozent höher als das der Pauschalist*innen mit 25,51 Euro und 20 Prozent höher als das der Festangestellten mit 23,16 Euro.
	<a href="#4-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="5">5 </sup>Das qrithmetische Mittel lag bei bei 4081,72 Euro für Pauschalist*innen und bei 3705,61 Euro für Festangestellte.
	Über alle drei Kategorien ergibt sich ein durchschnittlicher Monatseinkommen von 4259,12 Euro.
	<a href="#5-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="6">6 </sup>57,8 Prozent der Datenspender gaben ihre Arbeitserfahrung an. <a href="#6-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="7">7 </sup>Das Ergebnis ist statistisch signifikant. <a href="#7-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="8">8 </sup>Das arithmetische Mittel betrug bei Volontär*innen 1758,89 Euro, bei Redakteur*innen 3812,19 Euro, bei Ressortleiter*innen 5740,78 Euro und bei CvDs 4301,04 Euro. <a href="#8-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="9">9 </sup>Das arithmetische Mittel betrug bei Produkten, die analog und online verbreitet wurden, 25,83 Euro. Digitale Produkte kamen auf 26,84 Euro, analoge Werke auf 31,23 Euro. Der Unterschied ist statistisch signifikant. <a href="#9-back" class="quote"><em>(zurück</em>)</a><br>
	<sup id="10">10 </sup>Das arithmetische Mittel des Stundensatzes von freien Text-Journalist*innen lag bei 26,76 Euro.
	Audio-Journalist*innen bekamen 32,53 Euro pro Stunde und Video-Journalist*innen 37,98 Euro pro Stunde.
	Von den freien Journalist*innen gaben 89,9 Prozent an, für Texte ihr Geld zu bekommen. 8,9 Prozent verkauften Audio- und 1,2 Prozent Videobeiträge.
	Der durchschnittliche Audiobeitrag dauerte 14,53 Minuten und wurde mit 38,77 Euro pro Minute honoriert.
	Der durchschnittliche Videobetrag kam auf 6,45 Minuten und erhielt einen Gegenwert von 226,34 Euro pro Videominute.
	Die durchschnittliche Textlänge betrug 7305 Zeichen und erbrachte 62,18 Euro pro Tausend Zeichen. <a href="#10-back" class="quote"><em>(zurück</em>)</a>
	</p>
	
	<p class="text-box offset-3 bold">Bild (Katharina Jakob):<br>c/o David Ausserhofer/Robert Bosch Stiftung</p>

	</div>

<!-- Social Share -->
	<div class="social-box social-box-abstand">
		<a target="_blank" href="https://twitter.com/intent/tweet?url=https://wasjournalistenverdienen.de&text=Was%20verdienen%20Journalisten?%20Die%20neue%20interaktive%20Datenbank%20der%20Freischreiber:"><div class="social social-1 socialtile"></div></a>
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://wasjournalistenverdienen.de"><div class="social social-2 socialtile"></div></a>
		<a href="whatsapp://send?text=https://wasjournalistenverdienen.de"><div class="social social-3 socialtile"></div></a>
		<a href="fb-messenger://share/?link=https://wasjournalistenverdienen.de&app_id=123456789"><div class="social social-4 socialtile"></div></a>
		<a href="mailto:?subject=Interaktive Datenbank: Was verdienen Journalisten?&amp;body=Hallo, schau dir mal diese Seite an: https://wasjournalistenverdienen.de"><div class="social social-5 socialtile"></div></a>
	</div>

<!-- Footer -->
	<div class="footer">
	<div class="footer-grid">
		<div class="footer-grid-first">
			<a href="../../../static/honoradar/artikel/projekt.html">
			<p class="footer-item-first footer-item clear-footer">Über das Projekt</p>
			</a>
			<a href="../../../static/honoradar/artikel/credits.html">
			<p class="footer-item clear-footer">Die Macher</p>
			</a>
			<a href="../../../static/honoradar/artikel/reports.html">
			<p class="footer-item clear-footer">Freischreiber-Report</p>
			</a>
			<a href="../../../static/honoradar/artikel/methodik.html">
			<p class="footer-item clear-footer">Methodik</p>
			</a>
		</div>
		<div class="footer-grid-second">
			<a href="../../../static/honoradar/artikel/newsletter.html">
			<p class="footer-item-first footer-item clear-footer">Newsletter-Abo</p>
			</a>
			<a href="../../../static/honoradar/artikel/datenschutz.html">
			<p class="footer-item clear-footer">Datenschutz</p>
			</a>
			<a href="../../../static/honoradar/artikel/kontakt.html">
			<p class="footer-item clear-footer">Kontakt & Fragen</p>
			</a>
			<a href="../../../static/honoradar/artikel/impressum.html">
			<p class="footer-item clear-footer">Impressum</p>
			</a>
		</div>
	</div>
	</div>

</main>


    <!-- Javascript -->
	<script src="../../../static/honoradar/js/vue.js"></script>
	<script src="../../../static/honoradar/js/lodash.js"></script>
	<script src="../../../static/honoradar/js/report-table.js"></script>

	<script src="../../../static/honoradar/js/highcharts.js"></script>
	<script src="../../../static/honoradar/js/exporting.js"></script>
	<script src="../../../static/honoradar/js/data.js"></script>
	<script src="../../../static/honoradar/js/js-report-2019.js"></script>


    <script src="../../../static/honoradar/navbar/js/modernizr.js"></script>
    <script src="../../../static/honoradar/navbar/js/jquery-2.1.1.js"></script>
    <script src="../../../static/honoradar/navbar/js/main.js"></script>

</body>

</html>
